body {
    font-size: 10pt;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}
div#mainBox {
    margin: 5% 2% 5% 8%;
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
div.greyBox {
    margin: 0% 0% 0% 18px;
   
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
div#titleBox {
    position: relative;
    width: 670px;
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
div#titleImageBox {
    float: right;
    width: 202px;
    height: 304px;
    padding:0;
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
img#titleImage {
    width: 202px;
    height: 304px;
    margin: 0;
    padding: 0;
    border: 0;
}
div#hMenu {
    margin: 0;
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
div#titleText01 {
    color: #000066;
    font-size: 200%;
    padding: 8% 0 5% 0;
    margin: 5px 0 5px 0;
}
div#titleText02 {
    padding: 0 0 7% 0;
}
p.titleText03 {
    padding: 0;
    margin: 5px 0 5px 0;
}
div#introBox {
    margin: 0;
    padding: 0 222px 8% 20px;
}
div#mainContentBox {
    margin: 0;
    padding: 0;
}
div.contentItem {
    margin: 0;
    padding: 0 20px 0 20px;
}
.backtextbox { background-color: #FFFFFF; }

.backtextr
{
  background-color: #E7E3D0;
} /* right side of text boxes*/
div.box
{
  background:#efefef;
  padding: 0.5em;
  border: none;
}

table
{
  font-size: 10pt;
}


/* ----- links ----- */
a:link {
	color: #000066;
    text-decoration: none;
}
a:active {
	color: #000066;
    text-decoration: none;
}
a:visited {
	color: #535366;
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    color: #000066;
    /*color: #0944da;*/
    text-decoration: none;
    background-color: #f4f5fa;
}
/* ----- headings ----- */
h1 {
    color: #000066;
    font-size: 200%;
    margin: 0px 0 20px 0;
}
h2 {
    font-weight: normal;
    color: #000066;
    font-size: 160%;
    margin: 20px 0 20px 0;
}
h3 {
    font-weight: normal;
    color: #000066;
    font-size: 120%;
    margin: 20px 0 20px 0;
}
/* ----- lists ----- */
ul.list01 {
    padding: 0px;
    margin: 5px 0 10px 0;
    list-style-type: circle;
    list-style-position: inside;
   
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
li.listItem01 { margin-top: 3px;
    /* <---- DEBUG ----- */
    /* border: 1px solid #00ff00; */
    /* ----- DEBUG ----> */
}
/* <---- this is used for the publication list ----- */
ul.list02{ }
li.listItem02 { padding-bottom: .25em }
/* ----- tables ----- */
table.table01 {
    border: none;
    margin: 0;
    padding: 0px;
}
tr.tableRow01 {
    border: none;
    margin: 0;
    padding: 2px 0 2px 0;
}
td.tableData01 {
    border: none;
    margin: 0;
    padding: 2px 20px 2px 0px;
    vertical-align: top;
}
