.carousel-flex {
    position: relative;
}

.carousel-flex .carousel-slide {
    overflow: hidden;
}

.carousel-flex .carousel-slide-content {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    padding-left: 0;
    transition: transform 1s ease-in-out;
}

.carousel-flex .carousel-slide-item {
    background-color: #fff;
    border: 1px solid #b1b1b1;
    box-sizing: content-box;
    list-style: none;
    margin: 0 15px;
    min-width: calc(25% - 52px);
    padding: 10px;
}

.carousel-flex .carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    opacity: 0.5;
    background-image: url('../../../../cro/apage/images/arrowGreyLeft.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
}

.carousel-flex .carousel-control.right {
    background-image: url('../../../../cro/apage/images/arrowGreyRight.svg');
    left: auto;
    right: 0;
}

.carousel-flex .carousel-control {
    pointer-events: none;
}

.carousel-flex .carousel-control.active {
    opacity: 1;
    pointer-events: auto;
}

.carousel-flex .carousel-control.active:hover,
.carousel-flex .carousel-control.active:focus {
    background-image: url('../../../../cro/apage/images/arrowGreenLeft.svg');
    cursor: pointer;
}

.carousel-flex .carousel-control.right.active:hover,
.carousel-flex .carousel-control.right.active:focus {
    background-image: url('../../../../cro/apage/images/arrowGreenRight.svg');
    cursor: pointer;
}
