#global-footer {
    background-color: black;
}

.crux-container.global-footer-wrapper {
    color: #fff;
    padding: 60px 0;
}
.globalfooter-wrapper{
    font-size: 10px;
}

.global-footer-wrapper ul {
    list-style-type: none;
    margin: 0 0 60px;
    padding: 0;
}

.footer-linc-logo {
    margin-bottom: 35px;
}

.global-footer-col-name {
    margin-bottom: 15px;
    margin-top: 0;
}

.global-footer__link.crux-body-copy {
    font-size: 16px;
    margin-bottom: 12px;
    display: inline-block;
    line-height: 22px;
    color: white
}

.footer__buttons {
    padding-top: 5px;
}

.footer__buttons .crux-btn {
    display: block;
}

.footer__buttons a:focus {
    text-decoration: none;
}

.global-footer__bottom {
    border-top: 1px solid white;
    padding: 35px 0 0;
    margin: 0 15px;
    clear: both;
}

.footer-links {
    float: left;
}

.footer-links a.crux-body-copy {
    padding-right: 25px;
    font-size: 14px;
}

.global-footer__bottom span.footer__copyright {
    float: right;
    font-size: 14px;
}

.global-footer-social-wrapper {
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
    line-height: 1;
}

.global-footer-social-wrapper a {
    font-size: 0;
    display: inline-block;
}

.global-footer-social-wrapper a:before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 25px;
    height: 26px;
    font-family: 'crux-icons';
    font-size: 26px;
    color: white;
}

.global-footer-social-wrapper a:hover {
    text-decoration: none;
}

.global-footer-social-wrapper a:last-child:before {
    margin-right: 0;
}

.global-footer-social-wrapper a.facebook:before {
    content: "\75";
}
.global-footer-social-wrapper a.facebook:hover:before {
    color: #3b5098;
}

.global-footer-social-wrapper a.twitter:before {
    content: "\36";
}
.global-footer-social-wrapper a.twitter:hover:before {
    color: #078ed4;
}

.global-footer-social-wrapper a.youtube:before {
    content: "\26";
}
.global-footer-social-wrapper a.youtube:hover:before {
    color: #ff0000;
}

.global-footer-social-wrapper a.pinterest:before {
    content: "\53";
}
.global-footer-social-wrapper a.pinterest:hover:before {
    color: #bd081c;
}

.global-footer-social-wrapper a.instagram {
    font-size: 26px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.global-footer-social-wrapper a.instagram:before {
    display: none;
}

.global-footer-social-wrapper a.instagram:hover #Fill-1 {
    fill: #417298;
}

#global-footer .crux-btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .footer__columns {
        columns: 227px 3;
    }

    .footer__columns .col-sm-4.col-md-4  {
        width: 100%;
        -webkit-column-break-inside: avoid;
    }

    .footer__join,
    .footer__donate {
        width: 159px;
    }

    .global-footer-social-wrapper a:before {
        margin-right: 20px;
    }

    .global-footer-social-wrapper a.instagram {
        margin-right: 20px;
    }

    .global-footer__bottom {
        margin-top: 60px;
    }

    .footer__columns .col-xs-12:nth-child(4) ul {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .footer__columns {
        columns: 1;
    }

    .crux-container.global-footer-wrapper {
        padding: 30px 15px;
    }

    .footer-linc-logo {
        text-align: center;
        margin-bottom: 30px;
    }

    .global-footer__link.crux-body-copy {
        margin-bottom: 0;
        line-height: 24px;
        font-size: 18px;
    }

    .global-footer-col {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 1px #505050;
    }

    .global-footer-col ul {
        margin-bottom: 0;
        padding-bottom: 13px;
        display: none;
    }

    .footer__buttons {
        padding-top: 25px;
    }

    .footer__join,
    .footer__donate {
        width: 159px;
        margin: 0 auto 32px;
    }

    .global-footer-social-wrapper {
        margin: 0;
        text-align: center;
        width: auto;
    }

    .global-footer-social-wrapper a:before,
    .global-footer-social-wrapper a:last-child {
        margin: 0;
    }

    .global-footer-social-wrapper a {
        margin-right: 20px;
    }

    .global-footer__bottom {
        border-top: 0;
        padding-top: 20px;
        margin-top: 0;
    }

    .footer-links {
        text-align: center;
        float: none;
        padding-bottom: 5px;
    }

    .footer-links a.crux-body-copy {
        font-size: 12px;
        margin-right: 5px;
        display: inline-block;
        padding-right: 0;
    }

    .footer-links a.crux-body-copy:after {
        content: "|";
        display: inline-block;
        padding-left: 10px;
        font-size: 14px;
    }

    .footer-links a.crux-body-copy:last-child:after {
        display: none;
    }

    .global-footer__bottom span.footer__copyright {
        text-align: center;
        float: none;
        display: block;
        font-size: 12px;
    }

    .global-footer-col-name {
        position: relative;
        margin-bottom: 5px;
    }

    .global-footer-col-name:after {
        position: absolute;
        font-family: "crux-icons";
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        content: "\69";
        font-size: 16px;
        right: 0;
        top: 5px;
    }

    .global-footer-col-name--top:after {
        content: "\b5";
    }
}


