/*fix for pipeline breadcrumbs. Can be removed after migration to drs*/
.breadcrumb {
    display: none;
}
/*used on drs ratings page*/
.clear {
    clear: both;
}
/*fix for a-z pages*/
div.container_16 *,
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

