.section section h2.roundup-section-title {
    font-weight: 200;
}

section h2 a {
    color: black;
    text-decoration: none;
}

.how-to-nav,
.headline-divider hr,
.pin-title,
header {
    display: none!important;
}

.additional-headline-section {
    border-bottom: 1px solid #000000;
}

.shopping-wrapper {
    width: 40%;
}

.shopping-wrapper ul {
    list-style: none;
    margin: auto;
    padding: 0;
    color: #000;
    width: 410px;
}

.shopping-wrapper a {
    text-decoration: none;
    color: black;
    display: block;
}

.shopping-wrapper li {
    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
    line-height: 36px;
}

.shopping-wrapper .hidden {
    display: none;
}

.shopping-wrapper .from {
    font-weight: bold;
}

.shopping-wrapper li .price {
    display: inline-block;
    width: 30%;
    font-weight: 600;
    padding: 0 10px;
    vertical-align: middle;
}

.shopping-wrapper li .seller-name {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.shopping-wrapper li.price-item:hover {
    background-color: #078FD4;
}

.shopping-wrapper li.price-item:hover .seller-name {
    background-color: #FFFFFF;
}

.shopping-wrapper li.price-item:hover .price {
    color: #FFFFFF;
    background-color: #00AE4D;
}

.roundup-inline-image {
    width: 100%;
}
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: "Before"; }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: "After"; }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px; }

.image-slider .twentytwenty-container {
    margin: 0 auto;
}

.image-slider .description-wrapper {
    color: #999;
    padding-top: 7px;
 }


* {
  box-sizing: border-box;
}

body {
  font-family: "Neue Helvetica W01";
  font-weight: 300;
  font-size: 1.1em;
  margin: 1em 10%;
  line-height: 1.5em;
}

h1, .h1 {
  line-height: 1em;
  font-size: 2.5em;
  font-weight: 200;
  margin-bottom: 1em
}

.bg-pagetitle {
  margin-top: 1em;
}

h2 {
  font-weight: 200;
  font-size: 2em
}

h3, h4 {
  font-size: 1.5em;
  font-weight: 500;
}

h5, h6 {
  font-weight: 300;
  font-size: 1.25em;
}

h1.headline {
  font-size: 3em;
  line-height: 1em;
}

h2.subhead {
  font-size: 1.5em;
  line-height: 1em;
  color: #999;
}

.author-name {
  font-size: .8em;
}

.author-and-date {
  margin-bottom: 1em;
}

.date {
  font-size: .8em;
  color: #666;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #000; /* old IE */
  background-color: #000; /* Modern Browsers */
  margin: 2em 0;
}

img {
  max-width: 100%;
}

.image-content {
  margin-bottom: 2em;

}

footer {
  border-top: 1px solid #000;
  margin: 2em 0;
  padding: 2em 0;
  clear: both;
}

.description {
  font-size: .8em;
}

.photo-credit {
  font-size: .8em;
  font-style: italic;
}

.image-gallery-item {
  display: none;
  float: none !important;
}

.image-gallery-item img {
  height: auto;
  width: 100%;

}

.indent-text-container {
  padding: 0em 2em;
  border-left: 5px solid #000;
}

.global-header-container,
.call-to-action,
.aboutauthor,
.videoWidget,
.heroimage,
.fbcomments,
.relatedlinks,
.social,
.social_sharing_wrapper,
.rightRail,
.nav-user-actions,
.nav-product-rating-list,
.navigation-modal,
.sign-in-dialog,
.hide,
.product-navigation,
.teslapetition {
  display: none;
}

/*buying-guide */

.bg-section-delimiter {
  border-bottom: 1px solid #9B9B9B;
  margin: 5em 0;
  height: 0;
}

.bg-section-delimiter .bg-section-number {
  display: none;
}

.section {
  clear: both;
}

.section:not([style*="display:none"]) .bg-section-delimiter:before {
  counter-increment: sektion;
  content: counter(sektion);
  position: relative;
  margin: 0 auto;
  background: #fff;
  width: 1.5em;
  height: 1.5em;
  top: -0.6em;
  display: block;
  text-align: center;
  font: 100 3em 'Neue Helvetica W01';
}

.sidebyside-item {
  width: 50%;
  float: left;
  padding: 3em 0;

}

.sidebyside-item:nth-child(odd) {
  padding-right: 1em;
}

.sidebyside-item:nth-child(even) {
  padding-left: 1em;
}

.modal.email-share,
.videogallery,
.affix-sharing,
.relatedguides,
.ratingsbutton,
.singlevideo,
.bgsectiondelimiter.sectiondelimiter,
.bgvideogallery,
.brand-info,
.brand-button,
.section.brands,
.porchrelatedserviceswidget,
.acsModalBackdrop.acsAbandonButton,
.relatedarticles,
.recircbar
 {
  display: none;
}

/*
	buying guide print styles
	*/

/* image gallery */
.image-gallery {
  height: auto !important;
  margin-bottom: 2em;
}

.rslides_tabs {
  display: none;
}

.rslides {
  margin: 1em auto;
}

.image-gallery-item {
  display: none !important;
}

.caption {
  font-size: .75em;
  line-height: 1.5em;
}

.image-gallery-item.rslides1_on,
.image-gallery-item.rslides2_on,
.image-gallery-item.rslides3_on,
.image-gallery-item.rslides4_on,
.image-gallery-item.rslides5_on {
  display: block !important;
}

/* popout */
.popout {
  width: auto !important;
  margin-left: 0 !important;

}

body {
  counter-reset: sektion;
}

/* footer + header */
#footer, #global-footer, .header-par {
  display: none;
}

body::before {
  content: url('../images/cr_logo.svg');
  display: block;
  margin-bottom: 2em;
}

body::after {
  display: block;
  padding-top: 1em;
  margin-top: 2em;
  border-top: 1px solid #000;
  content: "© 2006 - 2016 Consumer Reports";
  font-size: .75em;
}

#card-adviser-print-container #myInformation,
#card-adviser-print-container #card-grid {
    display: block;
    font-size: 14px;
    line-height: 1.4;
}

#ca-print-form > div,
#ca-print-form > br {
    display: none;
}

.myCard {
    width: auto;
    padding-left: 10px;
}

#myInformation {
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px !important;
    page-break-inside: avoid;
    page-break-before: always;
}

#card-grid {
    page-break-after: always;
}

.mySpending, .myCard {
    display: table-cell;
    vertical-align: top;
    float: none !important;
}

.cash-back,
.cash-year,
.card-rank {
    font-size: 18px !important;
}
.twentytwenty-container {
	height: 550px !important;
}

.twentytwenty-handle {
    left: 272px !important;
    box-shadow: none;
}

.twentytwenty-before {
    clip: rect(0px 272px 550px 0px) !important;
}

.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
    box-shadow: none;
}
