body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,
h6,pre,form,fieldset,input,p,blockquote,table,
th,td{margin:0;padding:0;}fieldset,img,abbr{border:0;}address,caption,code,dfn,h1,h2,h3,
h4,h5,h6,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}q:before,q:after{content:'';}a{text-decoration:none;}button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;margin:0;}html{-webkit-text-size-adjust:none;}body{font-size:62.5%;background:#fff;padding-top:50px !important;}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}html{height:100%;}.clear:before,
.clear:after{content:'';display:table;}.clear:after{clear:both;}body,
body#newaccount #signup div.signup-submit input#submit,
body#newaccount #signup div.signup-submit input#submit,
a.followbutton,
a.new-topic,
a.button-primary,
a.button-secondary,
button.adminbar-button,
input[type="button"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"],
input[type="url"],
textarea,
#adminbar,
#adminbar .adminbar-input,
#adminbar #adminbarsearch .adminbar-search-input,
#getablog h2,
#editorpicks a.sub-button,
#footer,
#footer a.readmore,
#h4home a.bigassbutton,
#h4home .promowrapper a.bigassbutton,
#h4error h2,
#h4error #search404 input[type="submit"],
#h4error #search404 input[type="text"],
#wrapper button,
#wrapper input[type="submit"],
#wrapper p.lead-in,
.button-primary,
.button-secondary,
.post-10608 a.bigassbutton,
.promo h6.announcement-title,
.promo .bookauthor,
.promowrapper h2,
.tagazine #potd .leftnum a,
.videotag{font-family:"Open Sans", "Helvetica Neue", sans-serif;}div.tag-post h4,
h6.hot-cat,
p.heatmap,
p.support-faq-advise,
ol.bloglist li,
ol.postlist li,
ul.support-faq-topics a,
#getablog h4,
#getablog-small h5,
#home-featuredblog h3,
#hot ul li,
#hottags,
#ipv6note,
#featuredblog h3,
#intro h2,
#intro h6,
#news ul li a,
#signupnow h4,
.bloginfo h3,
.gad-head,
.snap_topposts ul li a,
.tagazine #potd .portrait .excerpt:first-letter,
.tagazine .blog_name,
.tagazine h6,
.tagazine .head .date,
.tagazine .head h5,
.tagazine div#tagintro p{font-family:Georgia, "Times New Roman", serif;}body#h4home, body#h4error, body#h4typo{background:#f1f1f1;}h2{font-weight:300;}#h4error #search404 input[type="text"]{font-size:20px;color:#555555;width:300px;height:35px;vertical-align:middle;}.button,
input[type=submit],
button{background-color:#ddd;border:1px solid rgba(0,0,0,0.05);border-top-color:rgba(255,255,255,0.1);border-bottom-color:rgba(0,0,0,0.15);border-radius:2px;color:#333;cursor:pointer;display:inline-block;font-size:13px;font-size:1em;font-weight:400;height:auto;line-height:1em;margin-right:3px;margin-right:0.3rem;padding:.6em 1.2em 0.7em;text-align:center;text-decoration:none;background-image:-moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f1f1f1 0%, #e5e5e5 100%);}.button:hover,
input[type=submit]:hover,
button:hover{background-color:#eee;color:#000;background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%);background-image:linear-gradient(to bottom, #f7f7f7 0%, #e5e5e5 100%);}.button:active,
input[type=submit]:active,
button:active{background-color:#eee;background-image:-moz-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:-webkit-linear-gradient(top, #ddd 0%, #ccc 100%);background-image:linear-gradient(to bottom, #ddd 0%, #ccc 100%);}.button-highlighted{background-color:#f1831e;border-top-color:rgba(0,0,0,0.1);color:#fff;background-image:-moz-linear-gradient(top, #ff8b20 0%, #f1831e 100%);background-image:-webkit-linear-gradient(top, #ff8b20 0%,#f1831e 100%);background-image:linear-gradient(to bottom, #ff8b20 0%,#f1831e 100%);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.button-highlighted:hover{background-color:#ff9636;background-image:-moz-linear-gradient(top, #FF9A1E 0%, #f1831e 100%);background-image:-webkit-linear-gradient(top, #FF9A1E 0%,#f1831e 100%);background-image:linear-gradient(to bottom, #FF9A1E 0%,#f1831e 100%);}.button-highlighted:active{color:#fff;color:rgba(255,255,255,0.9);background-image:-moz-linear-gradient(top, #eb934d 0%, #f3722e 100%);background-image:-webkit-linear-gradient(top, #eb934d 0%,#f3722e 100%);background-image:linear-gradient(to bottom, #eb934d 0%,#f3722e 100%);}.button-highlighted:hover{color:#fff;}.blog-subscribe input[type=submit],
.button-primary,
input.button-primary{background-color:#2ea2cc;border:1px solid rgba(0,0,0,0.3);border-top-color:rgba(0,0,0,0.05);color:#fff;background-image:-moz-linear-gradient(top, #2ea2cc 0%, #1e8cbe 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);background-image:linear-gradient(to bottom, #2ea2cc 0%,#1e8cbe 100%);}.blog-subscribe input[type=submit]:hover,
.button-primary:hover,
input.button-primary:hover{color:#fff;background-image:-moz-linear-gradient(top, #31ACD6 0%, #1e8cbe 100%);background-image:-webkit-linear-gradient(top, #31ACD6 0%,#1e8cbe 100%);background-image:linear-gradient(to bottom, #31ACD6 0%,#1e8cbe 100%);}.blog-subscribe input[type=submit]:active,
.button-primary:active,
input.button-primary:active{color:rgba(255,255,255,0.9);background-image:-moz-linear-gradient(top, #1e8cbe 0%, #1C83AF 100%);background-image:-webkit-linear-gradient(top, #1e8cbe 0%,#1C83AF 100%);background-image:linear-gradient(to bottom, #0074a2 0%,#1C83AF 100%);}tr.head a.new-topic:link,
tr.head a.new-topic:visited ,
tr.head a.new-topic:hover,
tr.head a.new-topic:active,
h2 a.new-topic:link,
h2 a.new-topic:visited,
h2 a.new-topic:hover,
h2 a.new-topic:active{display:inline-block;background-color:#1e8cbe;color:#fff !important;padding:2px 7px;border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;font-weight:bold !important;vertical-align:middle;font-size:12px !important;line-height:22px !important;}#wrapper input#comment-submit{margin-left:0;}#wrapper button{margin:10px 10px 0px 0;}#wrapper button:active, #wrapper input[type="submit"]:active{background:#eee url(./i/buttonbg.png) bottom left repeat-x;}.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus{color:#eee !important;background:#ddd !important;border:1px solid #ccc;}p{font-size:15px;line-height:1.6em;margin-bottom:1.4em;color:#444;}ul, ol{color:#444;}ol{margin-left:33px !important;font-size:13px;}em, cite, #getablog h2 em, #botdsearch, .form-table tr.error p strong{font-style:italic;}p.lead-in a{font-weight:normal;padding-bottom:2px;border-bottom:1px solid #ddd;}a{font-weight:normal;}a:link, a:visited, h2 a:visited{color:#1e8cbe;}.widefat a:visited, #tags a:visited, #hot a:visited, #botd a:visited, #news a:visited{color:#4ca6cf;}a:hover, h2 a:hover, .widefat a:hover, #tags a:hover, #hot a:hover, #botd a:hover, #news a:hover, a:active, h2 a:active{color:#78c8e6;}a{text-decoration:none;cursor:pointer;}#thread .contenttext, .commentlist .contenttext{overflow:auto;}#thread code, #commentlist code{border:1px solid #e5e5e5;background:#fcfcfc;display:block;padding:10px;width:95%;overflow:auto;color:#888;}ul#topnav{float:right;list-style:none;clear:right;text-align:right;margin:40px -9px 0 0;}ul#topnav li{float:left;margin:0;}ul#topnav li a{border:none;display:block;line-height:34px;padding:0 8px;font-size:14px;}ul#topnav li a.current{color:#555;background:#fff;-moz-border-radius-topleft:3px;-khtml-border-top-left-radius:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-khtml-border-top-right-radius:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}ul#topnav li.last-child a.current{margin-right:8px;}h6{font-size:11px;font-weight:bold;color:#444;}ol,ul{margin-left:24px;font-size:15px;line-height:1.6em;margin-bottom:20px}ol p{font-size:1em;}ol li,ul li{margin-bottom:4px;}blockquote{background:#fafafa;padding:10px 13px 2px;margin-bottom:22px;}blockquote p{margin-left:0 !important;}#header{margin-top:-50px;position:relative;height:72px;background:#f1f1f1 url(i/header-bg.png?2) center top repeat-x;}.newaccount.loggedin #header{background:none;}#h4home #header{width:960px;margin:0 auto;}#header h1 a, h1.logo{background-image:url('/wp-content/themes/h4/tabs/images/wpcom-logo.png?1');background-size:223px 37px;background-repeat:no-repeat;display:block;width:229px;height:42px;margin:16px 0;text-indent:-9999px;float:left;}#header div{display:block;width:960px;overflow:hidden;margin:0 auto;}#block_1{padding:0 12px;float:left;width:552px;}#block_2{padding:0 0 12px 12px;float:left;width:168px;}#block_3{background:#fff;padding:0 12px 24px 12px;float:left;width:180px;}#wrapper{margin:0 auto 24px;width:960px;}.pagebody{margin-top:30px;margin-bottom:30px;}#h4home .pagebody, #h4error .pagebody, #h4typo .pagebody{margin-top:0;}h2{font-size:42px;line-height:1.2em;margin-left:12px;margin-top:9px;margin-bottom:16px;text-rendering:optimizeLegibility;}#h4home h2{color:#444;}#features h2{font-size:60px;}.tier #botd{margin-top:4px;}#tagtitle{color:#999;}#tagtitle a{border:none;}#tagtitle strong{color:#000;font-weight:normal;}#wrapper p.lead-in{font-size:18px;line-height:1.6em;margin-bottom:24px;margin-left:12px;color:#888;font-weight:400;}p.head-out{font-size:18px;color:#000 !important;}p.heatmap{border-top:1px solid #e5e5e5;padding-top:24px;text-align:justify;line-height:40px;margin-bottom:24px;}#h4home p.heatmap{border:none;margin:20px;padding-top:0;line-height:35px;}p.heatmap a{margin:0 0.2em 0 0;border:none;}#lang-guess{background:#f9f9f9;border:1px solid #dfdfdf;padding:6px;text-align:center;color:#333;width:100%;margin:12px 0;}#signup #lang-guess{float:none;width:923px;margin-left:12px;font-size:2.4em;display:block;}#signupnow{margin:0 0 24px 12px;background:#fffbcc;border:1px solid #e6db55;min-height:86px;padding-top:24px;}div.local-wrapper #signupnow{margin-top:30px;}#signupnow h2{font-size:24px;color:#444;text-align:center;}#signupnow-text{width:61%;float:left;}#signupnow-button{width:226px;height:63px;float:left;font-size:24px;text-align:center;}#signupnow-button a{display:block;color:#fff;width:226px;height:63px;line-height:60px;background:url(i/signupbackground.gif?3) center top no-repeat;text-shadow:#1e6c8f 2px 2px 0px;letter-spacing:-1px;}#signupnow-button a:hover{text-decoration:underline;background:url(i/signupbackground.gif?3) center bottom no-repeat;text-shadow:#b8441c 2px 2px 0px;}#signupnow h2{margin-top:2px;}#signupnow h4{margin-top:5px;margin-left:0;font-size:14px;line-height:1em;font-weight:bold;font-style:italic;text-align:center;}#intro{padding:0 0 0 11px;margin:24px 0 10px;clear:both;min-height:30px;}#intro .push{height:30px;float:right;width:1px;}#intro .pull{clear:both;height:1px;overflow:hidden;}#intro h6{font-size:12px;line-height:25px;letter-spacing:1px;text-transform:uppercase;font-weight:normal;color:#888;float:left;}#intro h6 span{font-size:16px;font-weight:normal;color:#000;}#intro h2{font-size:22px;line-height:1.2em;margin-bottom:6px;margin-top:0;}#language{margin:27px 3px 0 0;float:right;height:25px;color:#888;text-shadow:0 1px 0 #fff;}.form-table #language{float:none;margin:0;color:#444;text-shadow:none;font-size:14px;padding:0;}#language label{line-height:25px;}#blog-privacy-row label{display:block;position:relative;margin-left:20px;}#blog-privacy-row input{position:absolute;display:block;height:20px;left:-20px;top:0;line-height:20px;}#home-featuredblog,
#featuredblog{margin-bottom:24px;background:#fbfbfb;border:1px solid #f1f1f1;float:left;min-height:162px;margin-left:12px;}#featuredblog{width:694px;}#featuredblog a, #home-featuredblog a{border:none;}#home-featuredblog cite,
#featuredblog cite{font-size:11px;line-height:1em;display:block;text-align:right;font-style:italic;margin-bottom:10px;}#home-featuredblog h6,
#featuredblog h6{margin-top:2px;margin-bottom:14px;}#featuredblog div.featured-content,
#home-featuredblog div.featured-content{min-height:108px;float:left;padding:12px 12px 6px 14px;}#home-featuredblog div.featured-content{width:390px;}#featuredblog .featured-content{width:530px;}#home-featuredblog h3,
#featuredblog h3{margin-top:4px;}#featuredblog h3{font-size:22px;line-height:1.2em;}#home-featuredblog h3{font-size:17px;line-height:1.2em;}#featuredblog p,
#home-featuredblog p{font-size:12px;line-height:1.6em;margin-top:8px;margin-right:12px;margin-bottom:4px;}#featuredblog div.image,
#home-featuredblog div.image{float:left;width:134px;padding:12px 0 0 0;margin-left:-13px;}#featuredblog div.image img,
#home-featuredblog div.image img{padding:2px;}div.image img{padding:4px;border:1px solid #e1e1e1;background:#fff;}#hot .head{border-top:2px solid #d9d9d9;border-bottom:1px solid #e5e5e5;padding:7px 12px;}#hot .head,#botd .head{border-top:2px solid #d9d9d9;border-bottom:1px solid #e5e5e5;padding:7px 12px;}#botd .head a{float:right;}.head a:visited{color:#1e8cbe !important;}.head a:hover{color:#f1831e !important;}#block_1 #botd{margin-right:0;}#botd{clear:both;margin-right:12px;}.head{clear:both;height:12px;}.head h6,.head h3{float:left;}#botd .head{margin-bottom:12px;}.head a{margin-top:2px;font-size:9px;}#news .head a,#hot .head a,#tags .head a,#tagadmin{float:right;}#tagadmin{margin-top:24px;font-size:10px;}#tagadmin a{color:#999;text-decoration:underline;}ul.tag-list{list-style:none;margin:0;font-size:10px;clear:both;float:left;width:100%;}ul.tag-list li.t1{font-size:22px;}ul.tag-list li.t2{font-size:20px;}ul.tag-list li.t3{font-size:19px;}ul.tag-list li.t4{font-size:18px;}ul.tag-list li.t5{font-size:17px;}ul.tag-list li.t6{font-size:16px;}ul.tag-list li.t7{font-size:15px;}ul.tag-list li.t8{font-size:14px;}ul.tag-list li.t9{font-size:13px;}ul.tag-list li.t10{font-size:12px;}ul.tag-list li{font-size:11px;margin-bottom:2px;padding-right:6px;float:left;}p#popular{color:#ccc;font-size:14px;line-height:1.7em;margin:12px 12px 8px 12px;border-bottom:1px solid #e1e1e1;padding-bottom:18px;}p#popular span#direct a:link{font-weight:bold;color:#09c;}p#popular span#direct a:hover{color:#0ca;}#hot div.blogs{width:277px;float:left;}#hot ul li a{width:208px;float:left;overflow:hidden;text-overflow:ellipsis;}#hot div.posts{width:275px;float:left;}#hot ul{float:left;line-height:1em;margin:12px 0;list-style:none;padding:0 12px;}#hot a{border:none;}#hot ul li{width:260px;padding:3px 0;margin-bottom:12px;font-size:14px;line-height:1.3em;float:left;}#hot ul li.odd{clear:left;margin-right:92px;}#hot ul li *{vertical-align:top;}h6.hot-cat{font-size:10px;line-height:1em;font-weight:bold;letter-spacing:1px;color:#888;display:block;margin-top:5px;margin-bottom:4px;text-transform:uppercase;}#hot ul li img.avatar{float:left;margin:0 12px 0 0;width:32px;height:32px;}#welcomeback{margin:0 0 16px 0;padding:0 0 12px 0;background:#e4f2fd;word-wrap:break-word;overflow:hidden;}#welcomeback a{border:none;}#welcomeback .head{position:relative;border-top:1px solid #c6d9e9;background:#d3e7f8;min-height:62px;}#welcomeback .head h6{padding:10px 12px 10px 64px;margin-bottom:9px;font-weight:normal;}#welcomeback .head .username{font-size:13px;color:#000;}#welcomeback img{position:absolute;left:0;margin:4px;background:#fff;padding:2px;border:1px solid #cacad9;}#welcomeback p{margin:12px;font-size:10px;}#welcomeback p.register{line-height:15px;margin-bottom:0;}#welcomeback p.register a{line-height:2em;font-size:11px;}#welcomeback ul{font-size:10px;line-height:1em;list-style:none;margin:0 12px;padding:0 0 6px 0;border-bottom:1px solid #d6dee4;}#welcomeback ul li{background:url(i/bullet-blue.png) 0px 4px no-repeat;padding:0 0 6px 12px;margin-bottom:0;line-height:1.2em;}#news{background:#f5f5f5;}#news .head{border-top:1px solid #d1d1d1;background:#e9e9e9;padding:7px 12px 8px 12px;}#news ul{list-style:none;padding:12px;font-size:10px;line-height:1em;margin:0;}#news ul li{background:url(i/bullet-grey.png) 0px 6px no-repeat;padding:0 0 6px 12px;margin:0;}#news ul li a{display:block;font-size:12px;line-height:1.5em;border:none;}#block_2 #tags{margin-left:0;margin-top:0 !important;}#tags{margin-left:12px;margin-top:4px !important;}#tags .head, .partner .head{border-top:2px solid #d9d9d9;border-bottom:1px solid #e5e5e5;padding:7px 0;margin-bottom:8px;}#tags .tag-list a{line-height:25px;padding:4px 4px 4px 0;border:0;}p.tagnav{font-size:10px;border-top:1px solid #e5e5e5;position:relative;height:40px;padding-top:4px;}p.tagnav a{display:block;font-size:12px;border:none;}p.tagnav a.prev{position:absolute;margin-left:12px;left:0;}p.tagnav a.next{position:absolute;right:0;margin-right:12px;}.tag-post{list-style:none;padding:0 24px 4px 12px;margin-left:66px;margin-bottom:18px;clear:both;}.tag-post a{border:none;}.tag-post h4{font-size:16px;line-height:1.3em;margin-bottom:0;margin-top:1em;margin-left:0;}.gad-head{font-size:16px;margin-bottom:0;}.tag-post p{font-size:12px;line-height:1.5em;margin-bottom:4px;margin-top:4px;margin-left:0 !important;}.tag-post p cite.author{color:#888;font-style:italic;}.tag-post p.tags{font-size:10px;color:#888;margin-right:4px;}div.tag-post img{float:left;margin-left:-66px;padding:2px;border:1px solid #ddd;}#getablog{margin:4px 0 24px 12px;background:#fffbcc;border:1px solid #e6db55;min-height:86px;padding-top:24px;}#getablog h2{font-size:20px;line-height:1.2em;color:#555;margin:4px 0 0;text-align:center;}#getablog-button{width:131px;height:37px;background:url(i/getablog-small.gif?2) center center no-repeat;font-size:16px;text-align:center;margin:36px auto 42px auto;}#getablog-button a{color:#fff;width:226px;line-height:34px;text-shadow:#888 2px 2px 0px;letter-spacing:-1px;}#getablog-button a:hover{text-decoration:underline;}#getablog h4{margin-top:.5em;font-size:13px;line-height:1em;font-weight:bold;font-style:italic;text-align:center;}#getablog-small{margin-bottom:24px;}#getablog-small h5{font-size:18px;line-height:1.3em;}#getablog-small p{font-size:11px;margin-bottom:6px;}#getablog-small p.button a{display:block;color:#fff;height:14px;font-size:9px;padding:10px 0 14px 0;text-align:center;background:url(i/getablog-small.png) top left no-repeat;}#getablog-small p.button a:hover{background:url(i/getablog-small.png) bottom left no-repeat;}p.rss, a.rsslink{font-size:11px;line-height:1em;margin:0 !important;clear:both;}p.rss a, a.rsslink{display:block;margin-top:12px;padding:10px 0 0 22px;height:22px;background:url(i/rss.png) left center no-repeat;}.quarter #nav{margin:0 0 0 12px;}ul#botdmenu{list-style:none;font-size:11px;margin:0;border-top:1px solid #dfdfdf;}ul#botdmenu li{border-bottom:1px solid #dfdfdf;}ul#botdmenu li a{display:block;margin:5px;border:none;}ol#langlist{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin:6px 0 0 0 !important;list-style:none;}body#botd .widecolumn{border-bottom:1px solid #dfdfdf;}body#botd #block_1{padding-top:12px;}a.unfiltered{font-size:13px;font-weight:bold;}ol#langlist li a{display:block;font-size:10px;padding:0 5px;}h3{font-size:14px;margin-bottom:3px;margin-left:12px;}h4.langfilter{margin-top:24px;margin-left:0;}h4{font-weight:bold;font-size:15px;margin:12px;}div.content p{font-size:12px;}ol.postlist,
ol.bloglist{margin:12px 12px 0 40px !important;}.postlist a, .bloglist a{border:none;}ol.postlist li,
ol.bloglist li{padding:0;margin:0;clear:both;color:#555;}ol.postlist li a.main,
ol.bloglist li a.main{border-top:1px solid #dfdfdf;margin:0 0 0 -40px;padding:15px 0 0 40px;min-height:100px;display:block;clear:both;}ol.postlist li h4,
ol.bloglist li h4{display:inline;font-weight:normal;font-size:18px;line-height:1.2em !important;margin:0;padding:0;}ol.postlist li blockquote,
ol.bloglist li blockquote{font-size:13px;line-height:1.5em;padding:0;margin:3px 0 0;border:none;display:block;background:none;color:#555;}ol.postlist .picture,
ol.bloglist .picture{background:#f1f1f1;}ol.postlist li cite{color:#888;font-size:11px;display:block;font-style:italic;margin-bottom:12px;}ol.postlist li p.posttags{display:none;}.postlist a.main .avatar{float:left;width:32px;height:32px;padding:0;margin:4px 10px 4px 0;}ul.archives{font-size:12px;margin-left:20px;}.content{margin-bottom:24px;}.content p{line-height:1.6em;}p.bestblog{padding:24px 5px 0 5px;font-size:11px;line-height:1.6em;}p.bestblog a{font-weight:bold;}div.partner{margin-top:18px;padding:8px 0;margin-left:12px;}div.partner h6{margin-bottom:8px;}div.partner a{display:block;padding-left:26px;}div.partner ul li a{padding-left:0;border-bottom:none;font-size:12px;}div.partner ul{margin-left:0;padding-left:0;line-height:1.2em;}div.partner ul li{list-style-type:none;list-style-position:inside;border-bottom:1px solid #DFDFDF;margin:0 0 4px 0;padding:0 0 4px 0;font-size:11px;}form#setupform th, form#profileform th{font-size:15px;vertical-align:top;font-weight:bold;padding-top:10px;padding-right:10px;line-height:1em;}form#contactme{border-top:1px solid #dfdfdf;}form#contactme table td,
form#contactme table th{border-top:1px solid #dfdfdf;background:#fff;padding:5px 12px;font-size:13px;}form#contactme table th{width:25%;vertical-align:top;font-weight:bold;}.tutscreen{background:#f5f5f5;text-align:center;padding:12px 12px 10px 12px;border:1px solid #dfdfdf;}.tutscreen img{border:1px solid #ccc;}a#technorati{background:url(i/technorati.png) center left no-repeat;}a#delicious{background:url(i/delicious.png) center left no-repeat;}a#wink{background:url(i/wink.png) center left no-repeat;}a#icerocket{background:url(i/icerocket.png) center left no-repeat;}table#signup-welcome h3{color:#444;}table#signup-welcome{margin:0 auto;}h3.view{margin-top:10px;text-align:center;margin-bottom:60px;}table#signup-welcome p{border:1px solid #e5e5e5;background:#fffeeb;font-size:20px;padding:10px;margin:5px;}.notableusers p,.notableusers h3{clear:both;}.notableusers img{padding:1px;margin:0 0 10px 0;display:block;}.notableusers p{font-size:12px;min-height:70px;}.notableusers .col1 p,.notableusers .col1 h3{margin-right:13px;}.notableusers .col2 p,.notableusers .col2 h3{margin-left:13px;}.notableusers h3{border-top:1px solid #e5e5e5;padding-top:5px;padding-bottom:15px;font-weight:bold;}.notableusers ul{margin:0 -25px 0 12px;padding:0;float:left;}.notableusers ul li{width:175px;margin-right:18px;float:left;list-style:none;vertical-align:top;font-size:13px;line-height:1.4em;padding-bottom:15px;margin-bottom:30px;}.notableusers ul li a{border:none;}.notableusers li.lead-in{font-size:15px;color:#888 !important;line-height:1.5;}.footenote{float:left;width:100%;}.footnote p{font-size:13px;line-height:1.5;color:#787878;}.footnote p strong{color:#444;}.onandon{border-top:1px solid #e5e5e5;padding-top:5px;margin-top:10px;}.col1{float:left;width:50%;}.col2{float:left;width:50%;}.snap_topposts ul{font-size:10px;line-height:1em;margin:12px 0;list-style:none;padding:0 12px 0 36px;}.snap_topposts{margin-left:50px;border:1px solid #e5e5e5;background:#fffeeb;margin-bottom:30px;}.snap_topposts h3{font-size:14px;margin:10px 12px 0 12px;padding-bottom:4px;border-bottom:1px solid #e5e5e5;}.snap_topposts ul li{padding:3px 0;margin-bottom:0;}.snap_topposts ul li a{vertical-align:top;display:inline-block;font-size:12px;line-height:1.5em;}.snap_topposts ul li img.avatar{margin:0 2px 0 -24px;}.snap_more{float:right;margin:-18px 12px 0 0;}.important{padding:2px 8px;margin-top:5px;background:#fffbcc;border:1px solid #e6db55;}#botdsearch dd{font-size:12px;margin:.2em 0 0 1em;}#botdsearch dt{font-size:15px;margin:.5em 0 0;}.navigation{margin-top:2em;height:2em;font-size:14px;}.alignleft{float:left;}.alignright{float:right;}.current_lang_item a{font-weight:bold;}#iphonebutton{margin:14px 0;}ul.support-faq-topics{list-style:none;margin:0 0 25px 12px;float:left;width:948px;background:#f5f5f5;border-bottom:1px solid #dfdfdf;color:#777;font-size:14px;}ul.support-faq-topics li{margin:0;padding:12px;float:left;width:292px;border-top:1px solid #dfdfdf;}ul.support-faq-topics a{font-size:18px;border:none;}ol.support-steps{clear:both;}img.about-photo{float:right;margin:0 0 20px 20px;border:1px solid #eee;padding:4px;}.pagebody p{margin-left:12px;}#about .half{margin-top:-2px;}#about .half p{margin-right:12px;margin-top:0;margin-bottom:1.6em;}#about p.lead-in{margin-top:20px;}p.about-photo-cap{display:none;width:694px;margin:0 12px 8px;padding:8px 0;border-bottom:1px solid #dfdfdf;font-size:10px;color:#999;float:right;}.form-table{border-collapse:collapse;margin:0 12px;width:936px;}#setupform .form-table{}.form-table #gimme p{margin-bottom:0;}#typo-corrections{color:#333;padding:12px;}#typo-corrections a{border:0;}#h4typo h2{margin-left:0;margin-top:.75em;}#h4typo p.get-it{margin:0em 0 6em 0;}#h4typo p.reserved{margin:2em 0 4em 0;}#h4typo p.get-it a{font-size:1.5em;}#h4typo #footerx, #h4typo #topnav{display:none;}.form-table td{margin-bottom:9px;padding:10px;line-height:20px;border-bottom-width:8px;border-bottom-style:solid;font-size:11px;background-color:#eaf3fa;}.form-table th{vertical-align:top;text-align:left;padding:10px;width:150px;border-bottom-width:8px;border-bottom-style:solid;background-color:#eaf3fa;}.form-table td, .form-table th{border-bottom-color:#fff;}.form-table p{margin-right:12px;margin-left:0;}.form-table th.th-full{width:auto;}.form-table input[type="text"],.form-table input[type="email"],.form-table input[type="url"],.form-table input[type="password"], .form-table textarea{border-width:1px;border-style:solid;border-color:#c6d9e9;margin-bottom:4px;}#pwstrength p{border:1px solid #eaf3fa !important;background:#eaf3fa !important;}#pwstrength p, #update-password p{margin-bottom:0;}.form-table div.color-option{display:block;clear:both;}.form-table input.tog{margin-top:2px;margin-right:2px;float:left;}#signup h2{font-size:40px;}.signup-submit{margin-left:12px;margin-right:12px;padding-top:8px;margin-bottom:30px;}.blogsyouhave{font-size:15px;margin-bottom:.3em;}p.blogsyouhave{border-top:1px solid #dfdfdf;padding-top:15px;}ul.blogsyouhave{list-style:none;margin:0 12px;}ul.blogsyouhave li{float:left;margin-right:10px;}p.useit{font-size:15px;clear:both;padding-bottom:15px;border-bottom:1px solid #dfdfdf;margin-bottom:30px;}ul.waiting{font-size:14px;}ul.waiting a{border-bottom:1px solid #dfdfdf;}.threequarters{width:720px;float:left;}.half{width:480px;float:left;}.quarter{width:240px;float:left;}#bump{font-size:13px;line-height:0.8em;}.support-notice{margin:0 0 0 12px;border:1px solid #e6db55;background:#fffbcc;margin-bottom:24px;}.support-notice p{margin:10px 12px;}#promoblock{text-align:center;background:#f7f7f7;border:1px solid #dfdfdf;padding:20px 12px;margin-bottom:24px;}#welcome a{font-size:16px;}#adminbar{background-color:#464646;background-image:-ms-linear-gradient(bottom, #464646, #3f3f3f 5px);background-image:-moz-linear-gradient(bottom, #3f3f3f, #464646 5px);background-image:-o-linear-gradient(bottom, #464646, #3f3f3f 5px);background-image:-webkit-gradient(linear, left bottom, left top, from(#464646), to(#3f3f3f));background-image:-webkit-linear-gradient(bottom, #3f3f3f, #464646 5px);background-image:linear-gradient(bottom, #464646, #3f3f3f 5px);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);color:#ddd;font-size:12px;height:28px;width:100%;position:relative;z-index:99999;}#adminbarlogin{float:left;display:inline;}#adminbarsearch{float:right;}#adminbarlogin, #adminbarsearch{height:20px;padding:3px;}#adminbar label, #adminbar a{font-size:11px;height:28px;color:#ddd;padding:3px 4px;text-shadow:0px -1px 0px #444;}#adminbar a:hover{color:#fff;}#adminbar .adminbar-loginmeta{line-height:20px;margin-left:8px;}#adminbar a.adminbarsignup{font-weight:bold;}#adminbar .adminbar-input{display:block;float:left;font-size:12px;border:1px solid #626262;padding:2px 3px 3px;margin-right:3px;background:#ddd url('/i/sprite.png?6') top left no-repeat;-webkit-border-radius:0;-khtml-border-radius:0;-moz-border-radius:0;border-radius:0;outline:none;text-shadow:0 1px 0 #fff;}#adminbar .adminbar-input[type=text],
#adminbar .adminbar-input[type=password]{width:150px;}#adminbar #adminbarsearch-wrap{border-left:1px solid #333;-webkit-box-shadow:inset 1px 0 0 #555;-moz-box-shadow:inset 1px 0 0 #555;box-shadow:inset 1px 0 0 #555;float:right;height:28px;}#adminbar #wp-admin-bar-search{max-height:28px;}#adminbar #wp-admin-bar-search a{display:none;}#adminbar #adminbarsearch .adminbar-search-input{background:url( '/wp-content/mu-plugins/admin-bar/wpcom-admin-bar-icons.png' ) 4px -397px no-repeat;border:medium none;box-shadow:none;color:#CCCCCC;float:left;font-size:12px;height:20px;width:22px;margin:0;padding:0 !important;outline:medium none;text-indent:-9999px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:1px solid rgba(0,0,0,0);}#adminbar #adminbarsearch .adminbar-search-input:hover{background-position:4px -437px;cursor:pointer;}#adminbar #adminbarsearch .adminbar-search-input:focus{width:200px;color:#555;text-shadow:0 1px 0 #fff;border:1px solid #626262;padding:0 3px 0 22px !important;background-color:#ddd;-moz-box-shadow:inset 2px 2px 1px #cdcdcd;-webkit-box-shadow:inset 2px 2px 1px #cdcdcd;box-shadow:inset 2px 2px 1px #cdcdcd;text-shadow:0 1px 0 #eee;background-position:4px -437px;text-indent:0;-webkit-transition:all 400ms ease-in-out;-moz-transition:all 400ms ease-in-out;-o-transition:all 400ms ease-in-out;-ms-transition:all 400ms ease-in-out;transition:all 400ms ease-in-out;}button.adminbar-button{position:relative;cursor:pointer;overflow:visible;margin:0 !important;float:left;text-align:center;white-space:nowrap;background:#ccc;background:-moz-linear-gradient(bottom, #aaa, #ccc);background:-webkit-gradient(linear, left bottom, left top, from(#aaa), to(#ccc));padding:2px 10px;height:20px;font-weight:bold;font-size:12px;color:#444 !important;text-shadow:0px 1px 0px #ddd !important;border:1px solid #626262;-moz-border-radius:1em;-webkit-border-radius:1em;border-radius:1em;}button.adminbar-button:active{background:#aaa;background:-moz-linear-gradient(bottom, #bbb, #ddd);background:-webkit-gradient(linear, left bottom, left top, from(#999), to(#bbb));-moz-box-shadow:inset 2px 2px 0 rgba(0,0,0,0.2);-webkit-box-shadow:inset 2px 2px 0 rgba(0,0,0,0.2);box-shadow:inset 2px 2px 0 rgba(0,0,0,0.2);}button.adminbar-button:hover{color:#000 !important;}#adminbar label.login{display:block;float:left;padding:0;position:relative;}#adminbar .login input{z-index:9;}#adminbar #rememberme{margin-top:5px;display:inline-block;vertical-align:text-bottom;}#adminbar input::-webkit-input-placeholder{color:#444;}#adminbar input:-ms-input-placeholder{color:#444;}#adminbar input:-moz-input-placeholder{color:#444;}#adminbar .login span{display:block;font-size:12px;height:28px;margin-bottom:-28px;padding:0 5px;cursor:text;line-height:21px !important;margin-bottom:-28px;color:#444;margin-right:4px;text-shadow:0 1px 0 #fff;z-index:10;position:relative;}#report-form{margin:20px 0 80px 0;}#footer{font-size:13px;width:100%;max-width:960px;min-width:320px;margin:0 auto;color:#999;overflow:hidden;}#footer h4{font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.1em;margin:0 0 16px;color:#444;border:none;}#footer .c0, #footer .c1, #footer .c2, #footer .c3, #footer .c4{float:left;}#footer .c0 h4{margin-bottom:24px;}#footer .c0{width:22%;}#footer .c1, #footer .c2, #footer .c3{width:18%;}#footer .c4{width:24%;}#footer .c4 ul li{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}#footer ul{list-style:none;margin:0;}#footer li{font-size:13px;line-height:16px;padding:0 0 8px 0;color:#888;margin-bottom:0;}#footer ul a{border:none;text-decoration:none;}#footer a.readmore{font-size:11px;color:#888;text-transform:none;letter-spacing:0;float:right;}#footer p.automattic{width:100%;float:left;bottom:0;clear:both;font-size:11px;line-height:16px;color:#888;margin-left:0;margin-top:52px;}#footer .automattic-logo{display:inline-block;text-indent:100%;white-space:nowrap;overflow:hidden;width:102px;height:16px;vertical-align:bottom;background-image:url(/wp-content/themes/h4/tabs/images/automattic.png);background-position:center center;background-size:102px 9px;background-repeat:no-repeat;margin:0 3px;border:none;}#footer .automattic-logo:hover{border:none;}#footer a.readmore:hover,
#footer .automattic a:hover{color:#f1831e;}#footer a:hover, #footer .c3 a:hover span{border-bottom:1px solid #ddd;}footer#hsp-footer{display:none;}img#wpstats{width:0px;height:0px;overflow:hidden}.footerwrap{border-top:1px solid #dfdfdf;padding-top:20px;float:none;clear:both;}.button-primary,
a.button-primary,
.button-secondary,
a.button-secondary{cursor:pointer;font-size:13px;text-decoration:none;height:auto;line-height:1;padding:.6em 1.2em;font-weight:300;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}.button-primary,
a.button-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,116,162,0.8);background-color:#2ea2cc;background-image:-moz-linear-gradient(top, #1e8cbe 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:linear-gradient(top, #1e8cbe 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-o-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-ms-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);}.button-primary:hover,
a.button-primary:hover{color:#fff;text-shadow:0 -1px 0 rgb(0,116,162);background-image:-moz-linear-gradient(top, #2ea2cc 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:linear-gradient(top, #2ea2cc 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-webkit-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-o-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-ms-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);}.button-primary:active,
a.button-primary:active{color:rgba(255,255,255,.9);background-image:-moz-linear-gradient(top, #1E8CBE 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:linear-gradient(top, #1E8CBE 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-webkit-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-o-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-ms-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;}.button-secondary,
a.button-secondary{color:#555 !important;text-shadow:0 1px 0 rgba(255,255,255,.7);background-color:#e5e5e5;background-image:-moz-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-ms-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-o-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:linear-gradient(top, #f5f5f5 0%, #ddd 100%);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(0,0,0,0.1);-ms-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.4), inset 0 -1px 1px rgba(0,0,0,0.1);}.button-secondary:hover,
a.button-secondary:hover{color:#222222;text-shadow:0 1px 0 rgba(255,255,255,.7);background-color:#f1f1f1;background-image:-moz-linear-gradient(top, #fff 0%, #ddd 100%);background-image:-webkit-linear-gradient(top, #fff 0%, #ddd 100%);background-image:-ms-linear-gradient(top, #fff 0%, #ddd 100%);background-image:-o-linear-gradient(top, #fff 0%, #ddd 100%);background-image:linear-gradient(top, #fff 0%, #ddd 100%);-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 1px rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 1px rgba(0,0,0,0.1);-ms-box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 1px rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 rgba(0,0,0,.05), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 1px rgba(0,0,0,0.1);}.button-secondary:active,
a.button-secondary:active{color:#555555;text-shadow:0 1px 0 rgba(255,255,255,.3);background-color:#e5e5e5;background-image:-moz-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-ms-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:-o-linear-gradient(top, #f5f5f5 0%, #ddd 100%);background-image:linear-gradient(top, #f5f5f5 0%, #ddd 100%);-moz-box-shadow:inset 0 1px 5px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.5);-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.5);-o-box-shadow:inset 0 1px 5px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.5);-ms-box-shadow:inset 0 1px 5px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.5);box-shadow:inset 0 1px 5px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.5);}#comments, #myblogs, #stats,
#signupoverlay{width:707px;padding-bottom:4px;border:1px solid #cfcfcf;border-top:none;border-left:none;background:#fff;float:left;margin-bottom:16px;left:0;top:0;}#my-blogs, #me, #my-tags, #like, .loggedin div#edit-profile, .loggedin div#welcome{width:100%;margin-left:-2px;clear:both !important;float:left !important;}.loggedin div#quickpress{width:956px;clear:both !important;float:left !important;}#subscriptions{width:100%;clear:both !important;float:left !important;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;margin-bottom:30px;}#signupoverlay{background:blue;padding:0;border:none;width:717px;height:870px;margin-left:-2px;position:absolute;background:#f1f1f1;top:0;float:left;border:medium none;margin-left:-2px;padding:0;z-index:100;opacity:0;overflow:visible;}#h4error h2{margin:30px 0 15px;font-size:32px;font-weight:300}#h4error p.lead-in{margin-left:0;}#h4error #editorpicks{margin:-1px 0 30px;border-bottom:1px solid #dfdfdf;}#h4error #editorpicks .pick:nth-child(1),
#h4error #editorpicks .pick:nth-child(2),
#h4error #editorpicks .pick:nth-child(3),
#h4error #editorpicks .pick:nth-child(4){margin-top:-1px;}#h4error .pick .tagazine{margin:0 0 10px 10px;}a.sub-button:before,
.actions a.reblog:before,
.actions a.reblogged:before,
.actions a.like:before,
.actions a.liked:before{color:#2ea2cc;content:'F';display:inline-block;width:16px;height:16px;padding-right:2px;-webkit-font-smoothing:antialiased;font:normal 16px/1 'Noticons';vertical-align:middle;line-height:13px !important;text-align:center;text-shadow:none;}a.sub-button.following:before,
.actions a.liked:before,
.actions a.reblogged:before{color:#78c8e6 !important;}.actions a.reblog:before,
.actions a.reblogged:before{content:'r';padding-left:2px;padding-right:3px;}.actions a.like:before,
.actions a.liked:before{content:'\2605';}a.sub-button:before{content:'F';}a.sub-button.following:before{content:'v';}a.sub-button.following{color:#fff !important;text-shadow:0 -1px 0 rgba(0,116,162,0.8);background-color:#2ea2cc;background-image:-moz-linear-gradient(top, #1e8cbe 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #1e8cbe 0%,#0074a2 100%);background-image:linear-gradient(top, #1e8cbe 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-o-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);-ms-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);}a.sub-button.following:hover{color:#fff;text-shadow:0 -1px 0 rgb(0,116,162);background-image:-moz-linear-gradient(top, #2ea2cc 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:linear-gradient(top, #2ea2cc 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-webkit-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-o-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-ms-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);}a.sub-button.following:active{color:rgba(255,255,255,.9);background-image:-moz-linear-gradient(top, #1E8CBE 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #1E8CBE 0%,#0074a2 100%);background-image:linear-gradient(top, #1E8CBE 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-webkit-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-o-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;-ms-box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;box-shadow:inset 0 1px 5px #005684, inset 0 -1px 0 #1e8cbe;}#editorpicks a.sub-button{float:none;display:block;margin:-5px 0 10px 10px;font-size:12px;padding:.2em .7em .1em 0.4em;vertical-align:middle;line-height:20px !important;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;-o-transition:all .15s ease-in-out;-ms-transition:all .15s ease-in-out;transition:all .15s ease-in-out;}a.following{color:#fff;}a.following:hover{color:#fff;}.promo a:hover cite{background:#ffa;}.promo .picture{height:82px;overflow:hidden;}.promo .bookcover{float:right;background:#fff;margin:0 -2px 5px 0;padding:0 0 0 7px;}.promo .bookauthor{display:block;font-size:11px;margin-top:2px;color:#999;}.promo h6.announcement-title{font-size:17px;font-weight:400;color:#999;margin:0 0 12px;}.videotag{font-size:10px;background:#eee;background:rgba(0,0,0,0.06);padding:1px 8px;display:inline-block;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#888;color:rgba(0,0,0,0.5);text-shadow:0 1px 0 #fff;}.signupsidebar{width:230px;float:left;height:870px;margin-top:0px;margin-right:12px;}.signupsidebar h2{font-size:28px;line-height:29px;margin-bottom:19px;text-shadow:0 1px 0 #fff;}.signupsidebar h3{color:#444;font-size:16px;text-shadow:0 1px 0 #fff;margin-bottom:8px;}.signupsidebar p{font-size:12px;line-height:18px;color:#888;margin-bottom:20px;}.signupsidebar p.call{font-size:15px;margin-left:0;text-shadow:0 1px 0 #fff;}.signupsidebar a.signuptxt{color:#f1831e;}body#newaccount #signup div.signup-submit input#submit,
#h4home a.bigassbutton{display:inline-block;width:99%;height:42px !important;margin:0 0 17px;padding:.6em 1.2em 0.7em;font-size:18px !important;font-weight:400;text-align:center;text-decoration:none;line-height:1em;color:#fff;background-color:#f1831e;background-image:-moz-linear-gradient(top, #ff8b20 0%, #f1831e 100%);background-image:-webkit-linear-gradient(top, #ff8b20 0%,#f1831e 100%);background-image:linear-gradient(to bottom, #ff8b20 0%,#f1831e 100%);border:1px solid rgba(0,0,0,0.05);border-top-color:rgba(255,255,255,0.1);border-bottom-color:rgba(0,0,0,0.15);border-top-color:rgba(0,0,0,0.1);cursor:pointer;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#newaccount a.bigassbutton:hover,
#h4home a.bigassbutton:hover{background-color:#ff9636;background-image:-moz-linear-gradient(top, #FF9A1E 0%, #f1831e 100%);background-image:-webkit-linear-gradient(top, #FF9A1E 0%,#f1831e 100%);background-image:linear-gradient(to bottom, #FF9A1E 0%,#f1831e 100%);}body#newaccount #signup div.signup-submit input#submit:active,
#h4home a.bigassbutton:active{background-color:#eb934d;background-image:-moz-linear-gradient(top, #eb934d 0%, #f3722e 100%);background-image:-webkit-linear-gradient(top, #eb934d 0%,#f3722e 100%);background-image:linear-gradient(to bottom, #eb934d 0%,#f3722e 100%);}#h4error #search404 input[type="submit"]{border:1px solid #cfcfcf;background-color:#d8d8d8;background-image:-moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1));background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0.8)),color-stop(1, rgba(255,255,255,0.05)));color:#585858;text-shadow:0 1px 0 #f4f4f4;border-radius:30px !important;-moz-border-radius:30px !important;height:35px !important;cursor:pointer;font-weight:bold;font-size:13px;padding:5px 30px !important;margin-left:10px !important;-webkit-transition:all 0.1s linear;}#h4error #search404 input[type="submit"]:hover{background-color:#eee;}#h4error #search404 input[type="submit"]:active{background-image:-moz-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.1));background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(255,255,255,0.8)),color-stop(1, rgba(255,255,255,0.05)));}body #signup div.signup-submit:hover input{text-decoration:underline !important;}.loggedin #signup div.signup-submit,
.loggedin #signup div.signup-submit input{width:180px;}.signupstats{background:url(i/signup/stats.png) 0 4px no-repeat;}.signupthemes img{float:right;margin-left:10px;}.signupwidgets img{float:right;margin-left:10px;margin-top:4px;}.signupitem img{margin-top:4px;}.signupleft img{margin-right:10px;float:left;}.signupright img{margin-left:10px;float:right;}#statsx1{width:86px;height:50px;display:block;float:left;}#statsx2{clear:both;width:34px;height:18px;display:block;float:left;}.post-edit-link{display:block;clear:both;border:none;}.homediv{float:left;border:medium none;padding:0;width:707px;}.current{display:block;}.whitebox{background:#fff;float:left;border-left:2px solid #f1f1f1;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;width:707px;margin-bottom:24px;}.bloginfo{border-left:2px solid #f1f1f1;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;float:left;width:245px;height:60px;background:#fff;padding:10px 0;padding-left:70px;margin-bottom:2px;}.bloginfo h3#registeranother{margin-top:17px;}.bloginfo h3{padding:0;margin:0;margin-bottom:-3px;font-size:16px;line-height:19px;}.bloginfo h3 a{border:none;}.bloginfo img{float:left;margin-left:-60px;border:0;}.bloginfo .domainlink{color:#aaa;font-size:12px;font-style:italic;text-decoration:none;border-bottom:none;}.bloginfo p{margin:0;padding:0;color:#aaa;}.bloginfo .bloglinks{font-size:10px;}body .PDS_Poll{padding:4px;}body .PDS_Poll .pds-pd-link{padding-right:4px !important;}#sponsor_ad{position:absolute;right:0;top:0;}.tagazine #tagadmin{margin:-15px 0;}.tagazine #tags_titling{position:relative;margin:0 0 10px 0;}.tagazine h2#tagtitle{margin:0 20px 0 0;color:#000;font-size:60px;}.tagazine h2#tagtitle span#hottopicslink{margin:10px 0 0 0;display:block;float:left;width:85px;height:47px;background:url(./i/tags.png) top left no-repeat;}.tagazine h2#tagtitle span#hottopicslink span{display:none;}.tagazine div#tagintro{display:block;clear:both;}.tagazine div#tagintro p{margin:12px 0 24px;padding:0 11px;color:#888;font-size:14px;font-style:italic;line-height:1.5em;}.tagazine div#tagintro p em{font-style:normal;text-transform:uppercase;color:#333;letter-spacing:0.1em;font-size:12px;}.tagazine .head{border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;padding:6px 11px 8px;vertical-align:text-bottom;}.tagazine .head h5{display:inline;color:#f04011;font-size:13px;font-weight:bold;vertical-align:text-bottom;}.tagazine .head .button{margin:-4px 0 0 4px;line-height:13px;}.tagazine .head .date{color:#999;padding:0 0 0 5px;font-size:12px;font-style:italic;vertical-align:text-bottom;}.tagazine h6 a{border:0;}.tagazine .image img{border:0;padding:0;}.tagazine .blog_name{font-style:italic;font-size:12px;}.tagazine p,
.tagazine p.excerpt{margin:0;font-size:13px;}.tagazine #potd .image{clear:right;}.tagazine #tags_titling,
.tagazine #potd,
.tagazine #fp{clear:both;}.tagazine .image{position:relative;}.tagazine .image_count{color:#999;padding:3px;position:absolute;bottom:0;right:0;background:url('i/dark.png?2');}.tagazine .post_medium .normal .image_count{top:0;height:13px;}.tagazine .post_small .image_count{right:3px;}.tagazine .gradient{z-index:1;height:30px;position:absolute;bottom:0;background:-moz-linear-gradient(center bottom , rgba(255, 255, 255, 1), rgba(255,255,255,1) 10%, rgba(255, 255, 255, 0));background:-webkit-gradient(linear, center bottom, center top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)), color-stop(0.1, rgba(255,255,255,1)));}.tagazine #potd .featured .gradient{width:460px;border-bottom:5px solid white;}.tagazine #potd .featured .portrait a.blog_link{z-index:2;}.tagazine #potd .featured .portrait .gradient{bottom:18px;}.tagazine #fp .post_medium .gradient{width:319px;}.tagazine #potd .featured{float:left;width:479px;height:410px;border-bottom:1px solid #d9d9d9;}.tagazine #potd .featured_left{border-right:1px solid #d9d9d9;}.tagazine #potd .featured_right div.regular div.content,
.tagazine #potd .featured_right div.avatar_f div.content{margin-left:10px;}.tagazine #potd .portrait,
.tagazine #potd .landscape{padding:9px;}.tagazine #potd div.content{overflow:hidden;text-overflow:ellipsis;}.tagazine #potd div.content{position:relative}.tagazine #potd h6{font-size:19px;}.tagazine #potd .blog_name{font-size:12px;}.tagazine #potd a.blog_link{display:block;background:#e5e5e5;color:#666;font-size:10px;-webkit-border-radius:15px;-moz-border-radius:20px;padding:2px 8px;margin-top:3px;clear:left;}.tagazine #potd a.blog_link:hover{background:#1e8cbe;color:#fff;}.tagazine #potd .landscape div.content{margin:8px 0 0 0;width:460px;}.tagazine #potd .landscape .excerpt{margin-top:3px;}.tagazine #potd .landscape h6,
.tagazine #potd .landscape .blog_name{display:inline;}.tagazine #potd .landscape a.blog_link{float:right;display:inline-block;}.tagazine #potd .portrait div.image,
.tagazine #potd .portrait div.content{float:left;}.tagazine #potd .portrait div.content{margin:9px 0 0 9px;height:380px;}.tagazine #potd .portrait div.clipped_content{height:360px;overflow:hidden;text-overflow:ellipsis;}.tagazine #potd .blog_name,
.tagazine #potd .post_date{display:block;}.tagazine #potd .portrait .excerpt:first-letter{margin:9px 5px 0 0;float:left;text-transform:uppercase;font-size:39px;}.tagazine #potd .portrait a.blog_link{position:absolute;bottom:0px;}.tagazine #potd .regular div.content{margin:9px 0 0 10px;width:455px;}.tagazine #potd .regular div.image{float:right;margin:5px 0 5px 5px;}.tagazine #potd .regular h6{display:inline;}.tagazine #potd .regular a.blog_link{float:right;display:inline-block;}.tagazine #potd .avatar_f div.content{margin:9px 0 0 10px;width:455px;}.tagazine #potd .avatar_f img{float:left;margin:0 10px 5px 0;}.tagazine #potd .avatar_f h6{display:inline;}.tagazine #potd .avatar_f a.blog_link{float:right;display:inline-block;}.tagazine #potd .referered{margin:9px 0 0 9px;height:390px;overflow:hidden;text-overflow:ellipsis;}.tagazine #potd .refereded .blog_name{}.tagazine #potd .referered a.blog_link{display:inline-block;bottom:0px;}.tagazine #potd .leftnum{display:none;float:left;margin:0;position:absolute;text-align:right;z-index:1;}.tagazine #potd .hover .leftnum{display:block;}.tagazine #potd .leftnum a{background:no-repeat scroll 0 0 rgba(0,0,0,0.5);border:medium none;color:#fff;font-size:18px;padding:1px 4px 3px;}.tagazine #potd .refereded .blog_name{}.tagazine #potd .referered a.blog_link{display:inline-block;bottom:0px;}.tagazine #fp{padding:3px 0 0 0;}.tagazine #fp #pos_1,
.tagazine #fp #pos_4{clear:both;}.tagazine #fp .content{margin:0 10px 10px;}.tagazine #fp h6{font-size:16px;}.tagazine .blog_name{display:block;color:#999;margin:0;}.tagazine #fp .post_small,
.tagazine #fp .post_medium{border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}.tagazine #fp .pos_9 .post_small,
.tagazine #fp .pos_3 .post_medium,
.tagazine #fp .pos_6 .post_medium,
.tagazine #fp .pos_9 .post_medium,
.tagazine #fp .pos_12 .post_medium,
.tagazine #fp .pos_15 .post_medium,
.tagazine #fp .pos_18 .post_medium{border-right:none;}.tagazine #fp .post_small{float:left;width:159px;height:269px;overflow:hidden;text-overflow:ellipsis;}.tagazine #fp .post_small .image{margin:10px;}.tagazine #fp .content{}.tagazine #fp .post_medium{float:left;width:319px;height:249px;overflow:hidden;text-overflow:ellipsis;}.tagazine #fp .post_medium .imageonly,
.tagazine #fp .post_medium .avatar_post,
.tagazine #fp .post_medium .normal{margin:8px 10px 10px;height:229px;overflow:hidden;text-overflow:ellipsis;position:relative;}.tagazine #fp .post_medium .avatar_post{margin-top:8px;}.tagazine #fp .post_medium .imageonly .mouseover{width:299px;position:absolute;display:none;background-image:url('i/dark.png?2');z-index:1;}.tagazine #fp .post_medium .imageonly .mouseover h6{color:#fff;font-weight:normal;margin:10px 10px 0 10px;}.tagazine #fp .post_medium .imageonly .mouseover div.blog_name{color:#999;margin:5px 10px 10px 10px;}.tagazine #fp .post_medium .normal img{float:right;margin:3px 0 5px 5px;}.tagazine #fp .post_medium .avatar_post p{clear:both;}.tagazine #fp .post_medium .avatar_post img{float:left;margin:3px 10px 9px 0;}.tagazine .post_name,
.tagazine .blog_name,
.tagazine #fp p,
.tagazine #potd h6,
.tagazine #potd .blog_name,
.tagazine #potd p{line-height:20px !important;}.tagazine .tagnav{clear:both;line-height:normal;padding:1px 0;margin:0;border-top:0;border-bottom:0;}.tagazine .tagnav a,
.tagazine .tagnav a.next{position:static;margin:3px 10px 15px 10px;}.tagazine .tagnav a{float:left;}.tagazine .tagnav a.next{float:right;}.tagazine #footer{clear:both;}.tagazine a.rss{float:right;height:auto;margin:-2px 0 0 0;border-bottom:0;padding:2px 0 2px 20px;font-size:11px;background:url(i/rss.png) left center no-repeat;}.tagazine .adunit{clear:both;border-bottom:1px solid #d9d9d9;}div.tag-post div.adunit img{border:0;float:none;margin-left:0;padding:0;}.spam-post{opacity:0.7;background-color:#fee;}div.adunit{margin-left:-66px;}#content #wpl-likebox{margin-left:12px !important;}body #signup #setupform div.signup-submit,
body #signup #setupform div.signup-submit input,
body #signup #profileform div.signup-submit,
body #signup #profileform div.signup-submit input{width:160px;}.post-3450{position:relative;}.post-3450 #content{border-right:1px solid #E5E5E5;float:left;padding-top:18px;width:720px;}.post-3450 #content .browselist{width:234px;}.post-3450 h2{border-bottom:1px solid #E5E5E5;padding-bottom:23px;margin-left:0;padding:6px 0 33px 12px;margin-bottom:2px;font-size:53px !important;}.post-3450 h4{font-size:17px;padding-left:3px;margin:12px 0px;font-weight:normal;}.post-3450 h5{font-size:14px;font-weight:bold;padding:18px 12px 0 18px;margin-bottom:5px;padding-left:17px;}.post-3450 .browse-container{background:url("http://s0.wp.com/wp-content/themes/a8c/wpsupport2/i/browse-middle-bg.png") repeat-y 234px 0;border-top:1px solid #E5E5E5;float:left;width:702px;}.post-3450 .cc-cards{position:absolute;top:27px;left:510px;height:32px;width:273px;margin-left:0;background:url(/i/charge-cc.png) no-repeat 0 0;background-size:273px 32px;}.post-3450 .cc-cards li{display:none;}.post-3450 .cc-desc{color:#444;font-size:13px;padding:0 18px;}.post-3450 .cc-plus{color:#999;position:absolute;top:0;right:-10px;}.post-3450 .cc-price{float:right;color:#999;font-size:12px;position:relative;}.post-3450 .container-main{border-top:1px solid #E5E5E5;}.post-3450 .lead-in{margin-bottom:18px !important;}.post-3450 .sidebar{position:absolute;top:120px;right:0px;width:230px;}.post-3450 .sidebar ul{list-style:none;margin-left:0px;}.post-3450 .sidebar ul li ul{list-style-type:none;margin-left:0px;}.post-3450 .sidebar ul li ul li, .post-3450 .sidebar ul li a{border-bottom:none;display:block;padding:0px 3px;}#ipv6note{width:100%;text-align:center;font-size:14px;font-weight:500;background:#ffffe0;-webkit-box-shadow:0 0 4px rgba(0,0,0,0.2);-moz-box-shadow:0 0 4px rgba(0,0,0,0.2);box-shadow:0 0 4px rgba(0,0,0,0.2);position:relative;z-index:99;color:#888;color:rgba(0,0,0,0.6);}#ipv6note em{color:#000;background:url(i/ipv6.png) center left no-repeat;padding-left:64px;line-height:3em;display:inline-block;}.twitter-share-button{vertical-align:text-bottom;margin-left:5px;display:inline-block;margin-bottom:-1px;}.wordpress-reblog-button{background:url(/wp-admin/images/wp-logo-vs.png) center left no-repeat;padding-left:20px;}#header div.core_logo{width:229px !important;height:58px;float:left;}div.core_shade{position:absolute;background:#000;opacity:0.7;-moz-opacity:0.7;-khtml-opacity:0.7;filter:alpha(opacity=70);width:100% !important;height:100%;top:0;left:0;z-index:10000;}#header div#logo-popup{width:380px;background:#FFF;margin:0;overflow:visible;padding:18px 16px 5px 23px;top:-1px;position:absolute;z-index:10001;text-align:left;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;-webkit-border-radius-bottomleft:6px;-webkit-border-radius-bottomright:6px;-webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 0 15px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.5);box-shadow:inset 0 0 15px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.5);}#logo-popup .description{margin:0 0 7px;color:#666;font-size:14px;text-align:left;}#logo-popup .logo-popup-column{float:left;margin:0 8px 0 0;width:178px;}#logo-popup h3{margin-left:0;}#logo-popup .logo-popup-column li{list-style:none;padding-bottom:0;}#logo-popup .logo-popup-column li .sample{margin-bottom:4px;width:176px;height:100px;}#logo-popup .logo-popup-column li .sample.hoz{background:url(i/logo-tn-hoz.png) center center no-repeat;}#logo-popup .logo-popup-column li .sample.vert{background:url(i/logo-tn-stacked.png) center center no-repeat;}#logo-popup .logo-popup-column ul{border-top:1px solid #DFDFDF;margin-left:0;}#logo-popup .logo-popup-column li li{padding:2px 8px;border-bottom:1px solid #DDD;font-size:12px;}#logo-popup .logo-popup-column li li a{font-size:11px;border:none;}#logo-popup .logo-popup-column li li span{font-size:11px;color:#999;}.logo-popup-header{padding-bottom:13px;}.logo-popup-close{background:#f1f1f1;display:block;height:22px;line-height:22px;outline:medium none;position:absolute;right:17px;font-size:17px;text-align:center;top:20px;width:22px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-font-smoothing:antialiased;}.logo-popup-close:hover{background:#eee;opacity:1;-moz-opacity:1;-khtml-opacity:1;filter:alpha(opacity=100);}.centered-tabs{margin-left:122px !important;}a.followbutton{display:inline-block;margin-left:1px;padding:5px 5px 5px 20px !important;color:#777;border-right:1px solid #fff !important;border-bottom:1px solid #fff !important;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:url( i/subsprite.png ) 5px -31px no-repeat;font-size:12px;line-height:100%;vertical-align:middle;font-size:14px;}a.followbutton:hover{text-decoration:none;border-color:#ddd !important;color:#1e8cbe;}a.following{background-color:#1e8cbe;background-position:5px -50px;color:#fff;border:none;}a.following:hover{background-color:#1e8cbe;border-color:#1e8cbe;color:#fff;}h2#tagtitle a.followbutton{margin-top:-10px;}.promowrapper{background:#fff;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;width:959px;margin-bottom:20px;padding:0;margin-top:0 !important;height:567px;overflow:hidden;}.promowrapper h2{font-size:28px;font-weight:300;margin:0 40px 22px;padding-top:10px;line-height:1.4em;}.promowrapper p{margin-left:40px;color:#666;line-height:1.6em;}.promowrapper img.newdash-desktop{border:1px solid #e9e9e9;-webkit-box-shadow:2px 0 20px rgba(0,0,0,0.1);-moz-box-shadow:2px 0 20px rgba(0,0,0,0.1);box-shadow:2px 0 20px rgba(0,0,0,0.1);margin:-1px -1px 0 35px;}.promowrapper img.newdash-mobile{float:right;margin:-28px -170px 0 20px;}.promowrapper img.newdash-followbutton{vertical-align:middle;margin:0 3px 0;}#h4home .promowrapper a.bigassbutton{margin-left:0;border-radius:10em;padding:0 53px;height:48px !important;line-height:45px;font-size:24px !important;font-weight:300;}body#newaccount #signup div.signup-submit input#submit{margin-left:0;border-radius:30em !important;padding:0 53px;line-height:45px;font-weight:300;}#h4home #topnav{display:none;}.contact-form{font-size:14px;margin-left:12px;}.contact-form input{color:#555;font-size:14px;padding:3px 3px 1px 3px;}.contact-form input[type="submit"]{padding:.6em 1.2em 0.7em;}.contact-submit{margin-left:0 !important;}span.shortcut-key{color:#555;padding:1px 4px 2px 4px;background:#ececec;border:1px solid #ccc;border-bottom:2px solid #bbb;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-moz-box-shadow:inset 0 1px 0 #fff;-webkit-box-shadow:inset 0 1px 0 #fff;-o-box-shadow:inset 0 1px 0 #fff;-ms-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;display:inline-block;line-height:1;text-align:center;min-width:8px;}.post-10608{position:relative;}.post-10608 #content{border-right:1px solid #E5E5E5;float:left;padding-top:18px;width:720px;}.post-10608 #content .browselist{width:234px;}.post-10608 h2{border-bottom:1px solid #E5E5E5;padding-bottom:23px;margin-left:0;padding:6px 0 33px 12px;margin-bottom:2px;font-size:53px !important;}.post-10608 h4{font-size:17px;padding-left:3px;margin:12px 0px;font-weight:normal;}.post-10608 h5{font-size:14px;font-weight:bold;padding:18px 12px 0 18px;margin-bottom:5px;padding-left:17px;}.post-10608 .browse-container{background:url("http://s0.wp.com/wp-content/themes/a8c/wpsupport2/i/browse-middle-bg.png") repeat-y 234px 0;border-top:1px solid #E5E5E5;float:left;width:702px;}.post-10608 .cc-cards{position:absolute;top:27px;left:510px;}.post-10608 .cc-desc{color:#444;font-size:13px;padding:0 18px;}.post-10608 .cc-plus{color:#999;position:absolute;top:0;right:-10px;}.post-10608 .cc-price{float:right;color:#999;font-size:12px;position:relative;}.post-10608 .container-main{border-top:1px solid #E5E5E5;}.post-10608 .lead-in{margin-bottom:18px !important;}.post-10608 .sidebar{position:absolute;top:120px;right:0px;width:230px;}.post-10608 .sidebar ul{list-style:none;margin-left:0px;}.post-10608 .sidebar ul li ul{list-style-type:none;margin-left:0px;}.post-10608 .sidebar ul li ul li, .post-3450 .sidebar ul li a{border-bottom:none;display:block;padding:0px 3px;}.post-10608 a.bigassbutton{margin-bottom:17px;background:#f1831e;background:-moz-linear-gradient(bottom, #f16c00, #ffa84a);background:-webkit-gradient(linear, left bottom, left top, from(#f16c00), to(#ffa84a));border:none;border-top:1px solid #f06b00;border-radius:10em;padding:0 40px;height:38px !important;line-height:35px;display:inline-block;text-align:center;color:#fff;text-shadow:0 -1px 0 #c17c3a;font-size:18px !important;font-weight:400;-webkit-box-shadow:inset 0 1px 0 #ffb667;-moz-box-shadow:inset 0 1px 0 #ffb667;box-shadow:inset 0 1px 0 #ffb667;}.post-10608 a.bigassbutton:hover{text-decoration:underline;}.post-10608 a.bigassbutton:active{-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.2);box-shadow:inset 0 2px 4px rgba(0,0,0,0.2);background:#f6a24f;background:-moz-linear-gradient(bottom, #e6681c, #f6a24f);background:-webkit-gradient(linear, left bottom, left top, from(#e6681c), to(#f6a24f));}.post-10608 h4{margin-top:9px;}.post-10608 h5{line-height:20px;}.post-10608 ul{font-size:13px;}.post-10608 .button-bottom{bottom:0;position:absolute;}.post-10608 .lead-in{margin-bottom:26px !important;margin-top:6px !important;}.post-10608 .list-first h5, .post-10608 .list-first p{padding-left:12px;}.post-10608 .list-right{float:right;}.post-10608 .browselist{margin-bottom:16px;}.post-10608 .img-right{float:right;margin:3px 19px 19px 0;}.post-10608 .sidebar{height:1510px;right:-4px;}.post-10608 .sidebar .list a{display:inline !important;}.post-10608 .single-item{background:#FFF;border-top:none;}.post-10608 .single-item h5{font-size:18px;padding-top:0;}.h4-editorpicks-shim{clear:both;height:0px;width:717px;}#mob-page-toggle{display:none;}@media only screen and (min-width:800px) and (max-width:991px){.post-10608{margin:30px auto;width:712px;}.post-10608 h2{font-size:30px !important;}.post-10608 .button-bottom{display:none !important;}.post-10608 #content{border-right:none;width:712px;}.post-10608 .sidebar{height:auto;right:0;top:8px;width:212px;}.post-10608 .sleeve{display:none !important;}#footer{padding:0 20px;}#footer .c0,	#footer .c1,	#footer .c2,	#footer .c3,	#footer .c4{width:50%;padding:20px 0;margin-left:0;}.footerwrap{margin-top:40px;}.footerwrap #footer{position:relative;padding-bottom:70px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;min-width:0;}.c0{margin-bottom:20px;}#footer p.automattic{position:absolute;bottom:0;padding:30px 0;}}@media only screen and (max-width:799px){.post-10608{margin:20px auto;width:282px;}.post-10608 h2{border-bottom:none;font-size:18px !important;}.post-10608 #content{border-right:none;width:282px;}.post-10608 #content .browselist{display:block;float:none;width:282px;}.post-10608 .browse-container{background:none;width:282px;}.post-10608 .button-bottom{display:none !important;}.post-10608 .container-main{border-top:none;}.post-10608 .img-right{float:none;margin:3px 19px 19px 0;width:282px;}.post-10608 .list-first h5, .post-10608 .list-first p{padding-left:17px;}.post-10608 .sidebar{height:auto;right:0;text-align:center;top:51px;width:282px;}.post-10608 .sleeve{display:none !important;}#footer{position:relative;box-sizing:border-box;padding:0 1em 70px 1em;}#footer .c0,	#footer .c1,	#footer .c2,	#footer .c3,	#footer .c4{width:100%;padding:1em 0;}.c0,	#footer .c0 h4{margin-bottom:20px;}#footer p.automattic{position:absolute;bottom:0;padding:20px 0;}}@media only screen and (min-width:480px) and (max-width:767px){.post-10608{margin:20px auto;width:344px;}.post-10608 h2{border-bottom:none;font-size:22px !important;}.post-10608 #content{border-right:none;width:344px;}.post-10608 #content .browselist{display:block;float:none;width:344px;}.post-10608 .browse-container{background:none;width:344px;}.post-10608 .button-bottom{display:none !important;}.post-10608 .container-main{border-top:none;}.post-10608 .img-right{float:none;margin:3px 19px 19px 0;width:344px;}.post-10608 .list-first h5, .post-10608 .list-first p{padding-left:17px;}.post-10608 .sidebar{height:auto;right:0;text-align:center;top:56px;width:344px;}.post-10608 .sleeve{display:none !important;}}body.newaccount#h4home{background:#fff !important;}body.newaccount#h4home div#wrapper{width:980px;margin:0 auto;}body.newaccount#h4home div#wrapper h4{font-size:26px;font-weight:normal;margin:10px 10px 20px;}body.newaccount#h4home div#wrapper ul{color:#777;font-size:17px;}body.newaccount#h4home div#wrapper button,
body.newaccount#h4home div#wrapper button#resend,
body.newaccount#h4home div#wrapper button.button-secondary,
body.newaccount#h4home div#wrapper input.button#submit-email{min-height:38px !important;font-size:18px !important;text-transform:none;letter-spacing:normal;font-weight:normal !important;margin-left:10px !important;float:none !important;}body.newaccount#h4home div#wrapper input.button#submit-email{margin-left:0 !important;}body.newaccount#h4home div#wrapper div#resend-form{clear:both;border-left:2px solid #EEE;padding-left:10px;margin-left:10px;margin-top:20px;}body.newaccount#h4home div#wrapper .form-table td.field{background:#f1f1f1;}@media print, (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi){#header h1 a, h1.logo{background-image:url('/wp-content/themes/h4/tabs/images/wpcom-logo-2x.png');}#footer .automattic-logo{background-image:url(i/automattic-2x.png);}#footer .promo-android{background-image:url(i/footerpromo/android-2x.png?3);}#footer .promo-blackberry{background-image:url(i/footerpromo/blackberry-2x.png?3);}#footer .promo-ios{background-image:url(i/footerpromo/ios-2x.png?4);}#footer .promo-ipads{background-image:url(i/footerpromo/ipads-2x.png?3);}#footer .promo-wptv{background-image:url(i/footerpromo/wordpresstv-2x.png?3);}#footer .promo-videopress{background-image:url(i/footerpromo/videopress-2x.png?3);}#footer .promo-learnwp{background-image:url(i/footerpromo/learnwp-2x.png?3);}#footer .promo-helpwanted{background-image:url(i/footerpromo/helpwanted-2x.png?6);}.post-3450 .cc-cards{background-image:url(/i/charge-cc-2x.png);}}@media screen and (max-width:60em){#wrapper{width:100% !important;padding:0 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.pagebody{margin-top:20px;}#mobile-signup{margin:0;padding:0;}#mobile-signup h2,	#mobile-signup p{margin:0;padding:0;}#mobile-signup h2{margin:0 0 .75em 0;font-size:1.8em;line-height:1.4;font-weight:400;color:#444;}#mobile-signup p{margin:0 0 1em 0;font-size:1.2em;line-height:1.4;color:#666;}#mobile-signup #lang-guess-wrap,	#mobile-signup #lang-guess{margin:0;padding:0;}#mobile-signup #lang-guess{width:100%;float:none;display:block;margin:10px 0;padding:5px;font-size:1.2em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#mobile-signup .form-table{width:100%;float:left;margin:0 0 10px 0;padding:10px;background:#fafafa;border:1px solid #eee;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#mobile-signup .form-table label{display:block;font-size:1.2em;}#mobile-signup .form-table .help{display:block;font-size:1em;color:#666;}#mobile-signup .form-table .field{width:100%;margin:0 0 15px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#mobile-signup .form-table .field select,	#mobile-signup .form-table .field input[type="text"]{margin:5px 0;font-size:1.2em;}#mobile-signup .form-table .field select{width:100%;}#mobile-signup .form-table .field input[type="text"]{height:30px;padding:5px;-webkit-border-radius:0;border-radius:0;border:1px solid #ddd;transition:all .15s ease-in-out;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#mobile-signup .form-table .field input[type="text"]::placeholder{font-size:1.2em;color:#999;}#mobile-signup .form-table .field input[type="text"]:focus{outline:none;border:1px solid #aaa;box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);}#mobile-signup .form-table .f-blogname input{width:70%;}#mobile-signup .form-table .f-blogtitle input{width:100%;}#mobile-signup .form-table label.checkbox{width:100%;float:left;margin:10px 0 0 0;}#mobile-signup .form-table label.checkbox input[type="checkbox"]{width:7%;float:left;display:block;}#mobile-signup .form-table label.checkbox span{width:93%;float:right;display:block;}#mobile-signup .signup-submit{width:100% !important;margin:0 0 20px 0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}body#newaccount #signup #mobile-signup input[type="submit"]#submit{width:100% !important;height:40px !important;margin:0 !important;padding:0 !important;font-size:2em;line-height:1 !important;font-weight:400;-webkit-border-radius:0 !important;border-radius:0 !important;}}.error410{display:flex;width:100%;height:100%;padding:0 !important;background:#2E4453 !important;background:url(i/pic-crowd-2x.jpg) no-repeat top center !important;background-attachment:fixed;background-size:cover;}.error410 #wrapper{display:flex;justify-content:center;align-items:center;flex-direction:column;width:100%;height:100%;margin:0;background:rgba(46, 68, 83, 0.5);}.error410 .page-content{width:50%;margin:auto;}.error410 .page-content h2{margin:0 0 .5em 0 !important;font-size:40px;line-height:1.4;text-align:center;color:#fff;}.error410 .page-content p{font-size:15px !important;line-height:1.5;color:#fff !important;text-align:center;}.error410 .page-content p a{color:#fff;text-decoration:none;border-bottom:1px solid rgba(255, 255, 255, 0.50);-webkit-transition:all 200ms ease;}.error410 .page-content p a:hover{border-bottom:1px solid rgba(255, 255, 255, 1.0);}.error410 footer{width:50%;padding:2em;}.error410 #footer{display:none;}.error404{display:flex;width:100%;height:100%;padding:0 !important;background:#2E4453 !important;background:url(i/pic-crowd-2x.jpg) no-repeat top center !important;background-attachment:fixed;background-size:cover;}.error404 #wrapper{display:flex;justify-content:center;align-items:center;flex-direction:column;width:100% !important;height:100%;margin:0;background:rgba(46, 68, 83, 0.5);}.error404 #footer{display:none;}#error-wrap{width:50%;margin:auto;}#error-wrap section{width:100%;height:100%;margin:auto;text-align:center;}#error-wrap article{width:100%;}#error-wrap article h2{margin:0 0 .5em 0;font-size:40px;color:#fff;line-height:1;text-align:center;}#error-wrap article h3{margin:0 0 .5em 0;font-size:25px;color:#fff;line-height:1;text-align:center;}#error-wrap article p{margin:0;font-size:15px;color:#fff;line-height:1.5;text-align:center;}#error-wrap article p a{color:#fff;border-bottom:1px solid rgba(255, 255, 255, 0.50);-webkit-transition:all 200ms ease;}#error-wrap article p a:hover{border-bottom:1px solid rgba(255, 255, 255, 1.0);}.error404 footer{width:50%;padding:2em;}#error-wrap article p:nth-child(2n+1){margin:0 0 2em 0;}#search404{width:100%;float:left;margin:4em 0;padding:0 0 4em 0;border-bottom:1px solid rgba(255, 255, 255, 0.25);}#h4error #search404 input[type="text"]{width:80% !important;height:40px;float:left;font-size:15px;margin:0 2% 0 0;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#h4error #search404 input[type="text"]:focus{outline:none;}#h4error #search404 input[type="submit"],
#h4error .button{width:18% !important;height:40px !important;float:left;font-size:15px;line-height:40px !important;color:#fff;text-shadow:none;font-weight:400;background:#1e8cbe;margin:0 !important;padding:0 10px !important;border:none;-webkit-border-radius:3px !important;-webkit-transition:background 200ms ease-in-out, color 120ms ease-in-out;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}#h4error .button{width:auto !important;float:none !important;margin:auto;padding:0 20px !important;}#h4error #search404 input[type="submit"]:hover,
#h4error .button:hover{background:#00aadc;}#footer-automattic{display:block;text-indent:-600em;background:url(https://i.cloudup.com/6y8hdZuWPY.svg) no-repeat 50% 50%;background-size:auto;width:120px;height:auto;margin:auto;padding:0;}.footer-wpcom{display:block;width:180px;height:auto;margin:auto;padding:0;}.group:after{content:"";display:table;clear:both;}@media screen and (max-width:40em){.error404 #wrapper,	.error410 #wrapper{display:block !important;}.error410 .page-content{width:100%;margin:auto;padding:2em;}.error410 .page-content h2{margin:0 0 1em 0 !important;font-size:20px !important;text-align:left !important;}.error410 .page-content p{font-size:13px !important;text-align:left !important;}.error404 #error-wrap{width:100%;margin:auto;padding:2em;}#error-wrap article h2,	#error-wrap article h3{margin:0 0 1em 0 !important;font-size:20px !important;text-align:left !important;}#error-wrap article p{font-size:13px !important;text-align:left !important;}#h4error #search404 input[type="text"]{width:100% !important;float:none;margin:0 0 1em 0;}#h4error #search404 input[type="submit"]{width:100% !important;float:none;}.error404 a.button{width:100% !important;}}