img, video{max-width:100%;height:auto;}.title-container{clear:both;height:250px;}.title-container .sleeve{border-bottom:1px solid #E5E5E5;height:117px;}.sitetitle,
#suggestions h5{font-family:"Open Sans", "Helvetica Neue", sans-serif;}.sitetitle,
.sitetitle a{font-size:65px !important;font-weight:300;text-rendering:optimizeLegibility;}.reversed h2 a,
.reversed h2 a:link,
.reversed h2 a:visited,
.sitetitle a,
.sitetitle a:link,
.sitetitle a:visited{border:0;color:black;}.reversed h2,
h2.search-title{font-size:30px;}#supportsearch #supports{color:#666;background:#f7f7f7;border:1px solid #E5E5E5;display:inline-block;font-size:14px;width:calc( 100% - 120px );width:-moz-calc( 100% - 120px );width:-webkit-calc( 100% - 120px );}#supportsubmit{float:right;min-width:100px;padding:10px;font-size:14px;line-height:28px;color:#ffffff !important;display:inline-block;cursor:pointer;text-shadow:none;background-color:#2ea2cc;border:1px solid rgba(0,0,0,0.3);border-top-color:rgba(0,0,0,0.05);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;background-image:-moz-linear-gradient(top, #2ea2cc 0%, #1e8cbe 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);background-image:linear-gradient(to bottom, #2ea2cc 0%,#1e8cbe 100%);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}#content{border-right:1px solid #e5e5e5;box-sizing:border-box;float:left;max-width:719px;padding:18px 18px 0 0;width:100%;}#content .quarter{width:239px;}#content p,
#content ol{}h3{font-size:20px;font-weight:bold;line-height:1.4em;}h4{font-size:16px;}h4 a,
h4 a:link,
h4 a:visited{border:0;}h5{font-size:13px;padding-left:12px;font-weight:bold;margin-bottom:5px;}h5 a,
h5 a:link,
h5 a:visited{border:0;color:black;font-weight:bold;}h5 a .cat-raquo,
h5 a:visited .cat-raquo,
h5 a:active .cat-raquo{color:#1e8cbe;}h5 a:hover .cat-raquo{color:#D54E21;}hr{border-top:1px solid #e5e5e5;border-right:0;border-bottom:0;border-left:0;}.browse{clear:both;}#content .browselist{width:234px;}.browselist h5{padding:18px 12px 0 18px;font-size:14px;}.browselist ul{margin-left:0;padding-left:18px;}.browselist li{font-size:13px;list-style:none;padding:0;}.sidebar ul.list li.page_item{font-size:13px;list-style:none;padding:0;margin:0;}.browse-container{background:url(./i/browse-middle-bg.png) repeat-y 234px 0;float:left;border-top:1px solid #e5e5e5;width:702px;}.separator,
.list-separator{clear:both;height:1px;line-height:1px;font-size:1px;background:#E5E5E5;margin-top:10px;margin-bottom:10px;text-indent:-1000em;}.list-separator{margin:0;}.clear-separator{clear:both;height:20px;line-height:20px;font-size:20px;text-indent:-1000em;}.sidebar{float:left;width:239px;border-left:1px solid #e5e5e5;margin-left:-1px;}.sidebar .sleeve{margin-right:12px;}.sidebar ul{list-style:none;margin-left:0;padding-left:0;}.sidebar ul li{border-bottom:1px solid #e5e5e5;margin:0;padding:12px 18px 0 18px;}.sidebar .last{border:0;}.sidebar .first,
.reversed .categories{border-top:0;}.sidebar ul li ul{list-style-type:disc;margin-top:0;}.sidebar ul li ul li{border:0;margin:0 18px 0 18px;padding:0;}.sidebar h4{margin-left:0;margin-top:0;}#needhelp{float:left;padding-right:30px;}#needhelp p{margin-bottom:10px;}#needhelp li{margin-left:15px;}#comvsorg{clear:right;}#comvsorg h4{padding-left:0;font-size:14px;}#comvsorg p{font-size:13px;}.thecategory{font-size:16px;font-style:italic;}.thecategory:before{content:'\f429';display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font:normal 16px/1 'Noticons';color:#a2a2a2;margin-right:10px;position:relative;top:1px;}.thecategory a,
.thecategory a:link,
.thecategory a:visited{border:0;}.alignleft{margin-right:24px;}form#contactme table tr,
form#contactme table tr{border-bottom:1px solid #DFDFDF;}form#contactme table th{font-weight:bold;width:15%;}form#contactme table tr.error td,
form#contactme table tr.error th{background:#FDE6E3;font-weight:bold;}p.required{color:#F00;border-top:1px solid #DFDFDF;margin-bottom:0;}.signup-submit{border-top:none;}.notice{-webkit-border-radius:11px;border-radius:11px;border:1px solid #D3E7F8;padding:10px;background:#E4F2FD;font-size:16px;display:inline;}.notice a,
.notice a:link,
.notice a:visited{border:0;text-decoration:none;}#toc{-webkit-border-radius:3px;border-radius:3px;background:#f5f5f5;font-size:16px;margin:10px;padding:10px 16px 0 16px;}#toc ul{list-style-type:none;margin-left:0;margin-bottom:10px;}#toc li{margin:6px 0;line-height:1.5em;font-size:13px;}#toc li img{display:none;}#toc h3{margin-left:0;font-size:16px;}.toc-jump{font-size:10px;float:right;}.loggedin .entrytext h4.section-title, .loggedin .toc-jump{padding-top:28px;margin-top:-18px;}.aligncenter,
div.aligncenter{display:block;margin-left:auto;margin-right:auto;}.alignleft{float:left;}.alignright{float:right;}.entrytext blockquote{overflow:hidden;}.entrytext img{-webkit-border-radius:3px;border-radius:3px;background:#EEEDEE none repeat scroll 0 0;border:1px solid #E5E5E5;margin:2px;padding:5px;}.entrytext img.latex,
.entrytext img.videopress-poster{-webkit-border-radius:0;border-radius:0;background:#fff;border:0;}.entrytext img.videopress-poster{margin:0;padding:0;}.wp-caption{border:1px solid #E5E5E5;text-align:center;background-color:#EEEDEE;padding-top:4px;margin:10px;-webkit-border-radius:3px;border-radius:3px;clear:right;max-width:calc(100% - 20px);}.wp-caption img{margin:0;padding:0;border:0 none;}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}.entrytext ul{margin-left:50px;}div.rating-msg{display:none;}.pd-rating{margin:0 0 10px 10px;font-size:14px;}#postmetadata{text-transform:capitalize;font-size:12px;}.post h2{margin-bottom:6px;}.entrytext table{color:#444444;font-size:15px;line-height:1.6em;margin-bottom:1.4em;}#respond{border-top:1px solid #E5E5E5;padding-top:12px;margin-right:18px;}#respond p,
p.last-modified{font-size:13px;}#respond textarea{width:80%;padding:4px;font-size:13px;}div.feedback{padding-left:18px;}#content div.feedback p{padding-left:0;margin-left:0;font-size:12px;}#hugs-intro-text p{font-size:16px;font-weight:bold;}.hugs-list blockquote{float:left;width:220px;padding:10px;margin:0;background:none;font-style:italic;}.hugs-list p{margin-bottom:1em;}.hugs-list cite{margin-top:-16px;font-size:12px;font-style:normal;}.hugs-list .bar{border-top:1px solid #ccc;height:1px;font-size:1px;clear:both;}sup.footnote,
#footnote_header,
#footnotes{display:none;}.clear{clear:both;}#suggestions ul{margin:2px 0 0 24px;}#suggestions h5{font-weight:bold;font-size:13px;padding:0;}#suggestions h5 span.close{display:block;float:right;font-weight:normal;}#suggestions h5 span.close a{color:#1e8cbe;border-bottom:1px solid #DFDFDF;}.apps-section{clear:both;margin-right:12px;margin-left:0;}.apps-app p,
.apps-section h4,
.apps-section h3{}.apps-section h3{margin-top:2em;border-bottom:1px solid #e5e5e5;}.apps-section:first-of-type h3{margin-top:1em;}.apps-section h4{clear:both;margin-bottom:6px;}.apps-app h4{margin:1.5em 0 .5em;}.apps-app h4 img{margin-top:-.5em;margin-right:1em;}.apps-app + div + hr{margin:1.5em 0 1em;}body #content .apps-app-desc{padding-right:0;}.apps-app-links{margin-top:-1em;color:#666;font-weight:bold;font-size:12px;}.apps-app-links a{font-weight:normal;}.apps-app .alignleft,
.apps-app .alignright{padding:3px;}.apps-app .alignright{margin-left:6px;}.featured-app h3{background:#73BCDB;padding-left:6px;border-bottom:1px solid #618FB5;padding-top:6px;margin-bottom:0;-webkit-border-top-left-radius:6px;border-radius-top-left:6px;-webkit-border-top-right-radius:6px;border-radius-top-right:6px;}.featured-app .apps-app{background:#BDDAE5;width:auto;margin-left:12px;padding:6px;}.featured-app img{background:#777;border:0;}.featured-app .apps-app h3,
.featured-app .apps-app h4,
.featured-app .apps-app p,
.featured-app .apps-app div{margin-left:0;}h4#stats{border:0;float:none;width:inherit;}@media screen and (max-width:580px) and (min-width:381px){.apps-section .apps-app h4 img{display:block;float:none;margin:0 auto 1em;}}@media screen and (max-width:380px){.apps-section .apps-app h4 img{margin:0 0 1em;}}.search_box{background:#eaf3fa;height:45px;margin:0 8px 33px 0;padding:22px 26px 20px;}.search_box input#answers{float:left;font-size:15px;padding:11px 10px;border-radius:3px 3px 3px 3px;margin:2px 4px 0 0;line-height:1.5em;width:524px !important;height:38px;}#submit_search{margin-left:23px;}#found_radios{margin:0 0 30px 55px;}#found_radios div{margin-bottom:8px;font-size:15px;}div.response{padding:18px 0 20px 0;}div.response p{margin:0 0 14px 14px;}div.response h4{margin-left:14px;}#was_answer_found,
div.response{background-color:#eaf3fa;-webkit-border-radius:5px;border-radius:5px;padding:18px 0 20px 0;margin:10px 8px 10px 0;}#was_answer_found p,
div.response p{margin:0 0 0 14px;}#was_answer_found h4,
div.response h4{margin-left:14px;}#closedsearch{background:#eaf3fa;margin:0 8px 33px 0;padding:22px 26px 20px;}input#activation_email,
#closedsearch input#closedsupports{font-size:15px;padding:11px 10px;border-radius:3px;margin:2px 0 0 0;line-height:1.5em;width:100%;box-sizing:border-box;}input#activation_email_submit{margin:0 !important;font-size:16px !important;}#closedsearch input#closedsupportsubmit{margin:8px 0 0 0 !important;font-size:16px !important;}div#activation{margin-bottom:12px;}body.support-home #content{border-right:0;float:none;width:auto;}.section-container{background:;overflow:hidden;width:962px;margin-left:-1px;padding-left:1px;}.section-container .unit{background:#f6f6f6;border-radius:5px;box-shadow:0 2px 2px #ccc;float:left;margin-bottom:13px;margin-right:13px;position:relative;width:230px;height:150px;min-height:150px;}.home .unit#wp-support-section-6,
.home .unit#wp-support-section-10{margin-right:0;}.unit h3{font-size:18px;margin:18px 18px 4px 18px;text-shadow:-1px -1px 0 #fff;}.unit p{font-size:13px;line-height:1.4em;margin:0 0 18px 18px;padding-right:12px !important;}.unit a.read-more{position:absolute;right:0;bottom:0;padding:4px 8px;z-index:2;background:#e5e5e5;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;text-shadow:-1px -1px 0 #eee;}.unit a.read-more:after{content:" →";margin-left:3px;}.home .title-container{border-bottom:0;}.home .title-container .sleeve{border-bottom:0;}#top-categories ul{-moz-column-count:2;-moz-column-gap:2em;-webkit-column-count:2;-webkit-column-gap:2em;column-count:2;column-gap:2em;margin:0 12px;}#tertiary ul{margin:0 0 20px;}#top-categories li,
#tertiary li{font-size:13px;line-height:21px;list-style-type:none;margin-left:0;}#top-categories h3{font-size:14px;-moz-column-span:all;-webkit-column-span:all;column-span:all;padding:0 0 10px 0;margin-top:20px;}#tertiary h3{font-size:14px;padding:0 0 10px 0;margin-top:0;}#home-footer{border-right:1px solid #e5e5e5;float:left;width:720px;}#secondary{background:#f7f7f7;float:left;width:720px;border-right:1px solid #e5e5e5;}#top-categories{background:#fff;border-left:1px solid #e5e5e5;float:left;padding:10px 29px 20px 10px;width:280px;}#tertiary{float:left;margin-top:20px;padding:10px;width:219px;}.home #comvsorg{clear:left;float:left;padding:20px 0 30px;width:400px;}.home #comvsorg h4{background:#999;color:#fff;display:block;font-weight:bold;margin:0 0 20px 0;padding:7px 0 5px 40px;width:360px;font-size:16px;font-weight:normal;line-height:1.4em;text-shadow:1px 1px 0 #666;}.home #comvsorg p{padding:0 50px 0 25px;}.home #comvsorg p strong{color:#000;}.home .clear-separator{clear:both;height:20px;line-height:20px;font-size:20px;text-indent:-1000em;border-bottom:1px solid #e5e5e5;}.home .hugs-list blockquote{background:none;float:none;font-style:italic;padding-right:0;width:auto;}.home .hugs-list p{color:#666;font-size:13px;margin-bottom:0;padding-right:0 !important;}.home .hugs-list cite{margin-top:0;}.howdy{margin-top:1em;}.pagebody .howdy p{background:#fcfce1;border-top-left-radius:16px;border-bottom-left-radius:16px;color:#737373;font-size:13px;margin-left:2px;margin-bottom:0;padding:0;}.howdy .avatar{border-radius:16px;border:0;margin-right:6px;padding:0;vertical-align:middle;}#wploader{background:url(./i/w-loader.gif) no-repeat 100% 0;height:40px;margin:-40px 20px 0 0;}.in-short{background:#eee;padding:5px;max-width:450px;margin:20px 0 20px 5px;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}.round-button{border-radius:20px 20px 20px 20px !important;cursor:pointer;height:auto !important;padding:8px 16px !important;background:url( "/i/buttonbg.png" ) repeat-x scroll left top #f2f2f2;border:1px solid #ccc;color:#333;font-weight:bold;font-size:12px;outline:medium none;text-shadow:0 1px 0 #fff;margin-right:8px;margin-top:5px;}.round-textinput{color:#666;padding:6px 6px;border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border:1px solid #E5E5E5;display:inline-block;font-size:13px;}#dns_zone_ok{background-color:lightYellow;border:1px solid #E6DB55;padding:10px;width:400px;margin-top:12px;}#dns_zone_error{background-color:#FCD2CA;border:1px solid #F23913;padding:10px;margin-top:12px;width:400px;}#dns_zone_error p, #dns_zone_ok p{margin-bottom:0;}h3.sd-title{display:none;}div.sd-rating{display:block !important;}div.pd-rating{display:block;}div.sd-content a.sd-button > span{line-height:1.5em;}.thecategory a[title="View all posts in Homepage"],.cat-item.cat-item-34940723{display:none;}.hugs-list blockquote{width:219px;}#my-blogs{width:auto;margin-left:12px;float:none!important;}#dns_zone_form{margin-left:12px;}.archive ul ul{margin-bottom:0;}#post-35271 #toc,#post-35271 .toc-jump{display:none;}.post #tld-table{float:left;width:95% !important;margin:15px 0 25px 0;border:1px solid #eee;border-collapse:collapse;background:#fff;}#tld-table th{padding:0;font-size:14px;font-weight:600;line-height:1;text-align:left;background:#f5f5f5;border-top:1px solid #eee;border-bottom:1px solid #eee;}#tld-table tr{margin:0;padding:0;}#tld-table td{padding:10px 0;font-size:14px;line-height:1.5;text-align:left;border-bottom:1px solid #eee;background:#fff;}#tld-table tr:nth-child(even) td{background:#fcfcfc;}#tld-table td.na{color:#dd3d36;}#tld-table tr:hover td{background:#f5f5f5;}@media only screen and (max-width:760px), (min-device-width:640px) and (max-device-width:1024px){table#tld-table, #tld-table thead, #tld-table tbody, #tld-table th, #tld-table td, #tld-table tr{display:block;}table#tld-table{width:100%;}#tld-table thead tr{position:absolute;top:-9999px;left:-9999px;}#tld-table tr{border:1px solid #eee;}#tld-table td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:50% !important;}#tld-table td:before{position:absolute;top:4px;left:4px;width:45%;padding-right:10px;white-space:nowrap;font-weight:600;}#tld-table td:nth-of-type(1):before{content:"TLD";}#tld-table td:nth-of-type(2):before{content:"Price";}#tld-table td:nth-of-type(3):before{content:"Private Registration";}}.post table{margin:20px 0;color:#666;font-size:14px;border:#ccc 1px solid;}.post table tr.even td{background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f6f6f6));background:-moz-linear-gradient(top,#f8f8f8,#f6f6f6);}.post table th{padding:21px 25px 22px;border-bottom:1px solid #e0e0e0;border-top:1px solid #fafafa;background:#ededed;background:-webkit-gradient(linear,left top,left bottom,from(#ededed),to(#ebebeb));background:-moz-linear-gradient(top,#ededed,#ebebeb);}.post table th:first-child{padding-left:20px;text-align:left;}.post table a:visited{color:#999999;font-weight:bold;text-decoration:none;}.post table a:active,.post table a:hover{color:#bd5a35;text-decoration:underline;}.post table a:link{color:#666;font-weight:bold;text-decoration:none;}.post table tr{padding-left:20px;text-align:center;}.post table tr:first-child th:first-child{-webkit-border-top-left-radius:3px;border-top-left-radius:3px;}.post table tr:first-child th:last-child{-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}.post table tr:last-child td{border-bottom:0;}.post table tr:last-child td:first-child{-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}.post table tr:last-child td:last-child{border-bottom-right-radius:3px;}.post table tr:hover td{background:#f2f2f2;background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#f0f0f0));background:-moz-linear-gradient(top,#f2f2f2,#f0f0f0);}.post table tr td{padding:18px;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-top:1px solid #ffffff;background:#fafafa;background:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#fafafa));background:-moz-linear-gradient(top,#fbfbfb,#fafafa);}.post table tr td:first-child{padding-left:20px;border-left:0;text-align:left;}.post ol{list-style:decimal;}.feedback_thanks{width:958px;border-right:0;margin-bottom:10px;}.feedback_thanks img.rating{margin:0 30px 30px 0;}.feedback_thanks img.rating.sad{margin-bottom:120px;}.feedback_thanks label{font-size:15px;line-height:1.6em;margin-bottom:1.4em;color:#444;display:block;}.feedback_thanks textarea{width:400px;height:100px;display:block;}.feedback_thanks #support_feedback_comment_submit.button-secondary{font-size:15px !important;margin:10px 0 !important}.post-submit-start{border-top:1px solid #dfdfdf;}.post-submit-start, .post-submit-end{padding:20px 0;width:960;margin:0 auto;}.whatsnext{background:url('i/whatsnext.png') no-repeat center top;max-width:1038px;margin:10px -40px;height:210px;min-width:960px;}.post-submit-end ul{margin:0;padding:0;display:inline-block;}.post-submit-end ul li{list-style:none;float:left;width:300px;margin-right:20px;padding:0 15px;box-sizing:border-box;}.post-submit-end ul li.last-child{margin-right:0;}.gist table tr{text-align:start;}#enterprise-banner{width:685px;height:69px;margin:10px 0 40px 15px;opacity:0.8;background:url(i/enterprise-banner.jpg) 0 0 no-repeat;-webkit-background-size:685px 69px;-moz-background-size:685px 69px;-o-background-size:685px 69px;background-size:685px 69px;border:1px solid #7c7d86;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0);-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0);box-shadow:0 1px 4px rgba(0, 0, 0, 0);-webkit-transition:opacity 0.15s ease;-moz-transition:opacity 0.15s ease;-ms-transition:opacity 0.15s ease;-o-transition:opacity 0.15s ease;transition:opacity 0.15s ease;}#enterprise-banner:hover{opacity:1;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.15) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.15) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.15) inset;}#enterprise-banner p{margin:0;padding:0;color:#fff;text-align:center;line-height:69px;}#enterprise-banner p strong{font-weight:600;}#enterprise-banner a{display:block;color:#fff;text-decoration:none;text-shadow:0 1px 4px rgba(0, 0, 0, 0.15);}#secondary{background:#FFF;}.home #comvsorg{background:#F7F7F7;border-right:1px solid #E5E5E5;padding:20px 0 5px;}#top-categories{border-left:none;}#top-categories li{margin-bottom:7px;}img.mobileicon,img.noborder{background:#FFF;}.hugs-list blockquote{font-style:normal;}.hugs-list blockquote cite{font-style:italic;}.rating-nero-value{visibility:hidden;width:1px;}div.sharedaddy .sd-rating .pd-rating{float:left;margin-left:1em;}#rating_info_6618740_page_14411{visibility:hidden;}#rating_info_6618740_page_54294{visibility:hidden;}.sharedaddy .sd-rating .pd-rating{float:left;margin-left:1em;}.rating-nero-icon{margin-right:2em !important;}#PDRTJS_6618740_page_54294_nero_1:after{content:"Yes";margin-left:1em;}#PDRTJS_6618740_page_54294_nero_2:after{content:"No";margin-left:1em;}#PDRTJS_6618740_page_14411_nero_1:after{content:"Yes";margin-left:1em;}#PDRTJS_6618740_page_14411_nero_2:after{content:"No";margin-left:1em;}#rating_info_491870_page_14411{visibility:hidden;}.post table tr:nth-child(even) td{background:#fff;}.post table tr:hover td{background:#f1f1f1;}#post-38 #toc{display:none;}.post table#com-vs-org{font-size:14px;text-align:left;}.post table#com-vs-org td{text-align:left;vertical-align:top;}.post table#com-vs-org a:link,
.post table#com-vs-org a:visited{color:#1e8cbe;font-weight:normal;}.post table#com-vs-org a:hover{color:#f1831e;font-weight:normal;}.post table#com-vs-org a:active{color:#1e8cbe;font-weight:normal;}#post-68137 #toc{display:none;}#markdown-reference{border:1px solid #e5e5e5;box-shadow:none;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;background:none;border-spacing:0;margin-right:18px;margin-left:0;font-size:14px;}#markdown-reference thead th{font-size:16px;padding-bottom:10px !important;}#markdown-reference th{font-size:14px;font-weight:bold;}#markdown-reference th,
#markdown-reference td{padding:10px 10px 32px;margin:0 !important;border:none;text-align:left;vertical-align:top;background:none;border-bottom:1px solid #e5e5e5;}#markdown-reference p{margin-left:0 !important;font-size:14px;}#markdown-reference pre{margin-bottom:1.4em;color:#444;}#markdown-reference ul,
#markdown-reference ol{margin-left:23px !important;margin-bottom:0;}#markdown-reference th:nth-child(2),
#markdown-reference td:nth-child(2){background-color:#fafafa;border-bottom:1px solid #eee;}#markdown-reference tbody tr:last-child th,
#markdown-reference tbody tr:last-child td{border-bottom:none !important;}#markdown-reference td:nth-child(3) a{color:#1e8cbe;}#markdown-reference .markdown-h1,
#markdown-reference .markdown-h2,
#markdown-reference .markdown-h3,
#markdown-reference .markdown-h4{font-weight:bold;margin-bottom:4px;}#markdown-reference .markdown-h1{font-size:22px;}#markdown-reference .markdown-h2{font-size:20px;}#markdown-reference .markdown-h3{font-size:18px;}#markdown-reference .markdown-h4{font-size:16px;}#markdown-reference dd{margin-left:24px;margin-bottom:1.4em;}#markdown-reference abbr{border-bottom:1px dotted #444;}#markdown-reference hr{height:1px;color:#aaa;background:#aaa;border:0;}#markdown-reference .markdown-comment{font-size:12px;padding:0;margin:-5px 0 0;font-style:italic;color:#777;}@font-face{font-family:'dashicons';src:url('//en.support.wordpress.com/wp-includes/fonts/dashicons.eot');src:url('//en.support.wordpress.com/wp-includes/fonts/dashicons.eot?#iefix') format('embedded-opentype'), url('//en.support.wordpress.com/wp-includes/fonts/dashicons.woff') format('woff'), url('//en.support.wordpress.com/wp-includes/fonts/dashicons.ttf') format('truetype'), url('//en.support.wordpress.com/wp-includes/fonts/dashicons.svg#webfont') format('svg');}.dashicons{display:inline-block;-webkit-font-smoothing:antialiased;font-size:45px;width:45px;height:45px;line-height:1;font-family:'dashicons';text-decoration:inherit;font-weight:normal;font-style:normal;vertical-align:top;text-align:center;color:#1e8cbe;margin-bottom:15px;}.dashicons-lightbulb:before{content:'\f339';}.dashicons-groups:before{content:'\f307';}.dashicons-admin-generic:before{content:'\f111';}.dashicons-video:before{content:'\f236';}.wp-support-tags .dashicons-tag:before{display:inline-block;-webkit-font-smoothing:antialiased;font-size:17px;width:30px;height:30px;line-height:1;font-family:'dashicons';text-decoration:inherit;font-weight:normal;font-style:normal;vertical-align:top;text-align:center;color:#7b7b7b;margin-bottom:15px;content:"\f323";}.container{margin:0 auto 24px;max-width:960px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}.content{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}.pagebody{margin-top:0px;margin-bottom:0px;}.title-container{padding:0;border-bottom:0px;height:auto;}.title-container .container{margin-bottom:60px;}.sitetitle{float:left;}h2.sitetitle.support-home{text-align:center;font-size:60px;margin:30px 0;color:#404040;width:100%;}.sitetitle a, .sitetitle a:link{font-weight:400;font-size:48px !important;}#supportsearch{float:right;text-align:left;margin-top:30px;width:50%;}#supportsearch label{font-size:18px;}#supportsearch #supports{color:#666;padding:10px 10px;border-radius:11px;-webkit-border-radius:11px;-khtml-border-radius:11px;-moz-border-radius:11px;-o-border-radius:11px;border:1px solid #E5E5E5;display:inline-block;font-size:14px;}#supportsubmit{font-size:14px;border-radius:11px;-webkit-border-radius:11px;-khtml-border-radius:11px;-moz-border-radius:11px;-o-border-radius:11px;border:1px solid #E5E5E5;color:#333;display:inline-block;padding:10px 10px;cursor:pointer;}#supportsubmit:hover{background:#ccc;}#homesupportsearch.searchbar{height:auto;margin:10px 0;}#homesupportsearch.searchbar #supports{font-size:2em;text-align:left;padding-left:10px;}#homesupportsearch.searchbar #supports, #supportsearch #supports{background:#f7f7f7;border:1px solid #dadada;color:#9e9e9e;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;}#homesupportsearch.searchbar #supports::-webkit-input-placeholder,
#homesupportsearch.searchbar #supports:-moz-placeholder,
#homesupportsearch.searchbar #supports::-moz-placeholder,
#homesupportsearch.searchbar #supports:-ms-input-placeholder{text-align:left;}#supportsearch #supports{font-size:14px;line-height:28px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}#homesupportsearchform{max-width:700px;margin:0 auto;}#homesupportsearchform [type="text"], #homesupportsearchform [type="submit"]{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}#homesupportsearchform [type="text"]{height:50px;width:calc( 100% - 140px );width:-moz-calc( 100% - 140px );width:-webkit-calc( 100% - 140px );}#homesupportsearchform [type="submit"]{float:right;min-width:120px;line-height:28px;font-size:1.8em;}#homesupportsearchform [type="submit"], #supportsubmit{background-color:#2ea2cc;border:1px solid rgba(0,0,0,0.3);border-top-color:rgba(0,0,0,0.05);border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;color:#fff;background-image:-moz-linear-gradient(top, #2ea2cc 0%, #1e8cbe 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#1e8cbe 100%);background-image:linear-gradient(to bottom, #2ea2cc 0%,#1e8cbe 100%);}#homesupportsearchform [type="submit"]:hover, #supportsubmit:hover{color:#fff;text-shadow:0 -1px 0 rgb(0,116,162);background-image:-moz-linear-gradient(top, #2ea2cc 0%, #0074a2 100%);background-image:-webkit-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-o-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:-ms-linear-gradient(top, #2ea2cc 0%,#0074a2 100%);background-image:linear-gradient(top, #2ea2cc 0%,#0074a2 100%);-moz-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-webkit-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-o-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);-ms-box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);box-shadow:inset 0 1px 0 #2ea2cc, inset 0 2px 0 rgba(120,200,230,0.7);}.section-container{background:#f7f7f7;margin:0 auto;padding:37px 0 55px;overflow:hidden;width:100%;}.wp-support-section{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;float:left;width:25%;padding:0 10px 45px 10px;text-align:center;color:#5a5a5a;min-height:290px;position:relative;}.wp-support-section:last-child{margin-right:0px;}.wp-support-section img{height:40px;}.wp-support-section a:link{color:#ffffff;display:inline-block;height:auto;padding:15px 44px;font-size:15px;position:absolute;bottom:0;left:30px;right:30px;white-space:nowrap;}.wp-support-section p{margin-bottom:20px;}.wp-support-section h3{margin-left:0px;font-size:30px;font-weight:normal;}.contact-support{color:#61646B;padding:25px 0px 30px;text-align:center;}.contact-support .container{margin-bottom:10px;max-width:565px;}.contact-support h2{margin-left:0px;font-weight:400;font-size:35px;}.contact-support p{color:#61646B;letter-spacing:.025em;}.contact-support a.contact-button{width:28%;top:10px;position:relative;margin-top:2px;margin-bottom:22px;}a.button-primary{display:inline-block;line-height:1.318;}a.contact-button{display:inline-block;padding:.6em 1.2em;border:0px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;color:#ffffff;text-shadow:0 -1px 0 rgba(222,122,0,0.8);text-align:center;font-size:1.7em;background-color:#ed8b16;background-image:-moz-linear-gradient(top, #ef962b 0%, #ed8b16 100%);background-image:-webkit-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:-ms-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:-o-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:linear-gradient(top, #ef962b 0%,#ed8b16 100%);-moz-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-o-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-ms-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);}a.contact-button:hover{color:#ffffff;text-shadow:0 -1px 0 rgb(222,122,0);background-image:-moz-linear-gradient(top, #f0a142 0%, #ed8b16 100%);background-image:-webkit-linear-gradient(top, #f0a142 0%,#ed8b16 100%);background-image:-o-linear-gradient(top, #f0a142 0%,#ed8b16 100%);background-image:-ms-linear-gradient(top, #f0a142 0%,#ed8b16 100%);background-image:linear-gradient(top, #f0a142 0%,#ed8b16 100%);-moz-box-shadow:inset 0 1px 0 #feb55e, inset 0 2px 0 rgba(254,181,94,0.8);-webkit-box-shadow:inset 0 1px 0 #feb55e, inset 0 2px 0 rgba(254,181,94,0.8);-o-box-shadow:inset 0 1px 0 #feb55e, inset 0 2px 0 rgba(254,181,94,0.8);-ms-box-shadow:inset 0 1px 0 #feb55e, inset 0 2px 0 rgba(254,181,94,0.8);box-shadow:inset 0 1px 0 #feb55e, inset 0 2px 0 rgba(254,181,94,0.8);}a.contact-button:active{background-color:#ed8b16;background-image:-moz-linear-gradient(top, #ef962b 0%, #ed8b16 100%);background-image:-webkit-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:-ms-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:-o-linear-gradient(top, #ef962b 0%,#ed8b16 100%);background-image:linear-gradient(top, #ef962b 0%,#ed8b16 100%);-moz-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-o-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);-ms-box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);box-shadow:inset 0 1px 0 rgba(254,181,94,0.5);}.happy-faces{margin-top:25px;}.happy-faces img{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;margin:0 8px 8px 8px;}.sidebar.quarter a.contact-button{width:100%;font-size:1em;margin-bottom:15px;}.bucket-get-help{background:#f7f7f7;margin-bottom:20px;padding:20px;overflow:hidden;border-radius:3px;padding:10px 10px 18px 10px;}.bucket-get-help div{width:61%;margin:0 auto;}#content .bucket-get-help div{width:90%;margin:0 auto;}.bucket-get-help h2{float:left;margin-top:8px;font-size:27px;font-weight:normal;margin-bottom:0;}.bucket-get-help a.contact-button{padding:.25em 1.2em;margin:8px 0 0 20px;}h1, h2, h3, h4{margin-left:0px;}.bucket-section-container{clear:both;}.bucket-section-container .post h2{font-family:"Open Sans", "Helvetica Neue", sans-serif;font-weight:normal;font-size:35px;margin-bottom:11px;}.bucket-section-container .entrytext img{margin:0;padding:0;border:none;background:none;border-radius:0;-webkit-border-radius:0;}.bucket-section-container em{font-weight:bold;}.bucket-section-container h3{font-size:27px;font-weight:normal;margin-bottom:0.6em;}.bucket-section-container a{font-weight:bold;}.customize-section{overflow:hidden;clear:both;margin:2em 0 4em 0;}.customize-section p{padding:0 !important;}.customize-section>a, .customize-section>h3, .customize-section>p, .customize-section>ul{max-width:50%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;clear:left;}.customize-section>a{float:right;}.customize-section h3, .customize-section p{float:left;display:block;width:100%;}.customize-section ul{display:block;}.customize-section:nth-of-type(even)>a{float:left;}.customize-section:nth-of-type(even)>h3, .customize-section:nth-of-type(even)>p, .customize-section:nth-of-type(even)>ul{float:left;padding-left:2em !important;clear:right;}.section{margin-bottom:8em;}.section img{margin-left:2em !important;margin-bottom:4em !important;}.section:nth-of-type(even) img{margin-right:2em !important;margin-left:0 !important;}.customize-section img, .bucket-section-container img{border:1px solid #DDD !important;-webkit-box-shadow:0px 0px 20px 0px #EEE;-moz-box-shadow:0px 0px 20px 0px #eee;box-shadow:0px 0px 20px 0px #EEE;}.section ul{margin:0;}.section ul li{list-style-position:inside;padding-left:20px;}.section:nth-of-type(even) ul li{padding-left:0px;position:relative;left:2em;margin-right:2em;}.wp-support-tags{color:#505050;padding:30px;text-align:center;font-weight:400px;border-top:3px solid #EEEEEE;border-bottom:3px solid #EEEEEE;}.wp-support-tags .container{margin:0 auto;max-width:960px;padding-bottom:10px;overflow:hidden;display:inline-block;}ul.support-tags{margin:0px;}ul.support-tags li{display:inline;float:left;margin:0 17px;list-style:none;line-height:1;}ul.support-tags > li:first-child{margin:0;font-weight:400;color:#999999;}ul.support-tags > li:nth-child(2){margin-left:5px;}body.support-home #wrapper{width:100%;}@media only screen and (max-width:950px){.container{}.footerwrap{margin-top:40px;}.footerwrap #footer{position:relative;padding:0 20px 70px 20px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;min-width:0;}.c0{margin-bottom:20px;}#footer p.automattic{position:absolute;bottom:0;padding:30px 0;}.sidebar{display:none;}.container, .content{max-width:600px;}#content{border:0;padding:12px;max-width:none;}.wp-support-section{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:50%;margin-bottom:40px;min-height:240px;}.wp-support-section.odd{clear:left;}#supports, #supportsearch #supports{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}#supportsearch{float:left;width:100%;margin-top:0;}#wrapper{width:auto;}.wp-support-tags{min-height:60px;}.bucket-get-help{max-width:700px;}.bucket-get-help div{width:90%;}.bucket-get-help h2{margin-top:13px;font-size:17px;}.thecategory{margin:1em 0;}#footer .c0, #footer .c1, #footer .c2, #footer .c3, #footer .c4{width:50%;padding:20px 0;margin-left:0;}.title-container .sleeve{border:none;}.customize-section>a, .customize-section>p, .customize-section>h3{max-width:100%;float:none;clear:both;}.customize-section>a>img{float:none;}.customize-section{margin:3em 0 6em 0;}.customize-section:nth-of-type(even)>a{float:none;}.customize-section:nth-of-type(even)>h3, .customize-section:nth-of-type(even)>p{float:none;padding-left:0 !important;}.container, .content{max-width:none;}.section img.alignright, .section img.alignleft{margin-left:auto !important;margin-right:auto !important;float:none;}}@media only screen and (max-width:500px){.footerwrap #footer{text-align:center;}#footer .c0, #footer .c1, #footer .c2, #footer .c3, #footer .c4{width:100%;}.sidebar{display:none;}.container, .content{max-width:100%;padding:10px;}.title-container{text-align:center;}#homesupportsearch.searchbar #supports, #homesupportsearch.searchbar #supportsubmit{font-size:1.35em;}#homesupportsearch.searchbar #supportsubmit{font-size:1.35em;padding:8px 0px !important;border-radius:6px !important;min-width:80px;}#homesupportsearch.searchbar #supports{height:46px;width:calc( 100% - 100px );width:-moz-calc( 100% - 100px );width:-webkit-calc( 100% - 100px );}.wp-support-section{width:100%;min-height:0;margin-bottom:40px;padding:0 10px;}.wp-support-section a:link{position:relative;left:auto;right:auto;}.title-container{padding:0;}h2.site-title{line-height:1;margin:0;}.title-container .sleeve{height:auto;}h2.sitetitle.support-home{font-size:40px !important;}.contact-support .container, .contact-support .content{width:300px;}.contact-support h2{font-size:25px;}.title-container .container{margin-bottom:10px;}.title-container .sleeve{border-bottom:0px;}#wrapper{max-width:100%;}.bucket-section-container .entrytext img{margin-bottom:25px;float:left;}.bucket-section-container ul{margin-left:20px;}.bucket-get-help{}.bucket-get-help div{text-align:center;}.bucket-get-help h2{float:none;margin-bottom:16px;font-size:17px;}.bucket-get-help a.contact-button{width:82%;margin:0px;}.wp-support-tags .container{padding-bottom:0;}ul.support-tags li{display:inline;clear:both;margin:0;list-style:none;line-height:1;}.wp-support-tags{min-height:250px;}ul.support-tags > li:first-child{color:#999999;padding-bottom:20px;}ul.support-tags > li:nth-child(2){margin:0;}}@media only screen and (max-width:40em){.feedback_thanks img.rating, .whatsnext, .feedback-thanks-page .pagebody{display:none;}.post-submit-end{padding:0;}.post-submit-end ul li{float:inherit;margin-bottom:1em;padding:0;width:100%;}.post-submit-start, .post-submit-end, #content.feedback_thanks{margin-bottom:0;padding:0;width:100%;}.feedback-thanks-page #footer{min-width:inherit;padding:0;}.feedback-thanks-page #footer > div{margin-left:5px;}.feedback-thanks-page #footer > div:after{clear:both;content:".";display:block;height:0;visibility:hidden;}.feedback-thanks-page h2{font-size:24px;}}#mc-embedded-subscribe-form{margin-bottom:40px;}.mc-field-group{font-size:15px;line-height:1.6em;width:100%;position:relative;padding:15px;}.mc-field-group input{font-size:15px;position:absolute;left:25%;width:50%;padding:10px 15px;}.mc-field-group label{display:inline-block;padding-top:7px;}.mc-field-group .asterisk{font-size:12px;position:relative;bottom:3px;}.mc-field-group input.contact-button{display:inline-block;width:auto;}.mc-field-group .indicates-required{display:inline-block;font-size:12px;position:relative;top:7px;}@media only screen and (max-width:500px){.mc-field-group{padding:5px 0;}.mc-field-group label{display:block;}.mc-field-group input{position:relative;left:0;width:90%;margin:10px 0 0 0;}.mc-field-group input.contact-button{display:block;width:auto;margin-top:10px;}}#secondary{background:#FFF;}.home #comvsorg{background:#F7F7F7;border-right:1px solid #E5E5E5;padding:20px 0 5px;}#top-categories{border-left:none;}#top-categories li{margin-bottom:7px;}img.mobileicon,img.noborder{background:#FFF;}.hugs-list blockquote{font-style:normal;}.hugs-list blockquote cite{font-style:italic;}.rating-nero-value{visibility:hidden;width:1px;}div.sharedaddy .sd-rating .pd-rating{float:left;margin-left:1em;}#rating_info_6618740_page_14411{visibility:hidden;}#rating_info_6618740_page_54294{visibility:hidden;}.sharedaddy .sd-rating .pd-rating{float:left;margin-left:1em;}.rating-nero-icon{margin-right:2em !important;}#PDRTJS_6618740_page_54294_nero_1:after{content:"Yes";margin-left:1em;}#PDRTJS_6618740_page_54294_nero_2:after{content:"No";margin-left:1em;}#PDRTJS_6618740_page_14411_nero_1:after{content:"Yes";margin-left:1em;}#PDRTJS_6618740_page_14411_nero_2:after{content:"No";margin-left:1em;}#rating_info_491870_page_14411{visibility:hidden;}.post table tr:nth-child(even) td{background:#fff;}.post table tr:hover td{background:#f1f1f1;}#post-38 #toc{display:none;}.post table#com-vs-org{font-size:14px;text-align:left;}.post table#com-vs-org td{text-align:left;vertical-align:top;}.post table#com-vs-org a:link,
.post table#com-vs-org a:visited{color:#1e8cbe;font-weight:normal;}.post table#com-vs-org a:hover{color:#f1831e;font-weight:normal;}.post table#com-vs-org a:active{color:#1e8cbe;font-weight:normal;}.privacy-na{color:#aaa;}#post-68137 #toc{display:none;}#markdown-reference{border:1px solid #e5e5e5;box-shadow:none;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;background:none;border-spacing:0;margin-right:18px;margin-left:0;font-size:14px;}#markdown-reference thead th{font-size:16px;padding-bottom:10px !important;}#markdown-reference th{font-size:14px;font-weight:bold;}#markdown-reference th,
#markdown-reference td{padding:10px 10px 32px;margin:0 !important;border:none;text-align:left;vertical-align:top;background:none;border-bottom:1px solid #e5e5e5;}#markdown-reference p{margin-left:0 !important;font-size:14px;}#markdown-reference pre{margin-bottom:1.4em;color:#444;}#markdown-reference ul,
#markdown-reference ol{margin-left:23px !important;margin-bottom:0;}#markdown-reference th:nth-child(2),
#markdown-reference td:nth-child(2){background-color:#fafafa;border-bottom:1px solid #eee;}#markdown-reference tbody tr:last-child th,
#markdown-reference tbody tr:last-child td{border-bottom:none !important;}#markdown-reference td:nth-child(3) a{color:#1e8cbe;}#markdown-reference .markdown-h1,
#markdown-reference .markdown-h2,
#markdown-reference .markdown-h3,
#markdown-reference .markdown-h4{font-weight:bold;margin-bottom:4px;}#markdown-reference .markdown-h1{font-size:22px;}#markdown-reference .markdown-h2{font-size:20px;}#markdown-reference .markdown-h3{font-size:18px;}#markdown-reference .markdown-h4{font-size:16px;}#markdown-reference dd{margin-left:24px;margin-bottom:1.4em;font-size:15px;}dl, dd, dt{font-size:15px;line-height:1.6em;margin-bottom:1.4em;}#markdown-reference hr{height:1px;color:#aaa;background:#aaa;border:0;}#markdown-reference .markdown-comment{font-size:12px;padding:0;margin:-5px 0 0;font-style:italic;color:#777;}#post-1988 table th{padding:.5em 1em;}#post-1988 table td{padding:.25em 1em;}.entrytext img{max-width:100%;}.post{padding-right:10px;}#activation_email_submit{border-radius:20px 20px 20px 20px !important;cursor:pointer;height:auto !important;padding:8px 16px !important;background:url( "/i/buttonbg.png" ) repeat-x scroll left top #f2f2f2;border:1px solid #ccc;color:#333;font-size:2.0em;outline:medium none;text-shadow:0 1px 0 #fff;margin-right:8px;margin-top:2px;}#activation_email_suggestion{clear:both;padding:10px 0 0 25px;font-style:italic;font-size:15px;color:#A00;}#search-form{clear:both;width:100%;margin-bottom:45px;}#search-box{box-sizing:border-box;width:100%;height:35px;border-radius:19px;-moz-border-radius:19px;-webkit-border-radius:19px;outline:none;background-color:lightYellow;padding:5px 30px;color:#000;font-size:18px;}#suggestions{margin:0;}#live-chat-container{display:none;position:relative;}.search-answer-header-clear{display:block;clear:both;height:10px;}.search-answer-header{background-color:#fff;display:inline-block;font-size:20px;font-size:2.0rem;position:relative;text-shadow:1px 1px 0px #fff;top:20px;}.line-through{border-bottom:1px dotted #000;text-align:center;margin:-20px 0 15px;}h4.step{background-color:#eaf3fa;border-radius:5px 5px 5px 5px box-shadow:2px 2px 2px #ddd;padding:8px;color:#666;}h4.step_inactive{background-color:#ddd;color:#999;border-radius:5px 5px 5px 5px box-shadow:2px 2px 2px #ddd;padding:8px;font-weight:normal;}h4.step_inactive em{color:#999;font-weight:normal;}h4.step em{color:black;font-style:normal;}div.step_body{padding:8px;margin-bottom:20px;margin-left:15px;}div.step ul{margin-left:40px;}div.step input[type="button"]{border-radius:20px 20px 20px 20px !important;cursor:pointer;font-size:13pt !important;height:auto !important;padding:8px 16px !important;float:right;background:url( "/i/buttonbg.png" ) repeat-x scroll left top #f2f2f2;border:1px solid #ccc;color:#333;outline:medium none;text-shadow:0 1px 0 #fff;margin-right:8px;margin-top:5px;}#did{border:1px solid #e5e5e5;border-radius:11px 11px 11px 11px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;color:#666;font-size:13px;padding:10px;width:97%;}#suggestions_content{}#suggestions_content p{font-size:12px;}#suggestions_content h3, #suggestions_content h3 a{font-size:15px;font-weight:bold;}#suggestions_content li{list-style:none;margin:0;}#suggestions_content ul{margin:0;}#suggestions_content ul.support-page-sections{margin:-16px 0 10px 12px;}#suggestions_content ul.support-page-sections li{display:inline-block;padding-right:10px;border:none;font-size:12px;}#manual_content{margin:12px;}span.score{margin-left:25px;font-size:10px;font-weight:bold;}#wploader{background:none;margin:14px 10px 0 0;height:16px;float:left;}#step2_button{float:right;}#step2_button[disabled], #step1_button[disabled], #step0_button[disabled]{color:#bbb;cursor:default;}#step2_button_div{float:right;display:inline;}.Kayako_History.noticon{padding-top:7px;}#manual-control-container{float:right;display:none;padding:10px;top:-20px;}.olrk-away{display:none;}.live-chat-escape{margin-top:1.4em;}.live-chat-cancel{position:absolute;right:0;top:0;}#contact-form{position:relative;}.contact-form-cancel{position:absolute;right:0;top:0;}body div.embedded #habla_window_div.habla_window_div_base{box-sizing:border-box;font-size:15px;margin-left:0 !important;width:100% !important;z-index:99998;}#habla_window_div .habla_conversation_div{height:250px !important;}#contactme, .search_box{background-color:#eaf3fa;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 2px #ddd;-khtml-box-shadow:2px 2px 2px #ddd;-moz-box-shadow:2px 2px 2px #ddd;-o-box-shadow:2px 2px 2px #ddd;box-shadow:2px 2px 2px #ddd;font-size:15px;margin:0px 10px 10px 0px;padding:20px 20px 25px;}.search_box{height:auto;padding:25px 20px;}p.loginbox{margin:1em 0 1em 10px;}.thin{float:left;width:323px;}.thin.formbox-right{float:right;}#contactme, p.required{border:0 !important;}#contactme label.h{color:#444;display:block;font-weight:bold;margin:0 0 7px 10px;text-shadow:1px 1px 0 #fff;}p.required{color:#d00;margin-bottom:.5em;}#activation_email_submit, #wrapper input[type="submit"]{-webkit-border-radius:20px !important;-moz-border-radius:20px !important;-khtml-border-radius:20px !important;border-radius:20px !important;cursor:pointer;font-size:13pt !important;height:auto !important;margin:0 0 2em 10px !important;padding:8px 16px !important;}.search_box input#answers, .formbox input[type="text"], .formbox input[type="email"], .formbox input[type="url"], .formbox input[type="password"], .formbox textarea{border:1px solid #e5e5e5;-webkit-border-radius:11px;-khtml-border-radius:11px;-moz-border-radius:11px;-o-border-radius:11px;border-radius:11px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-khtml-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);-o-box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);color:#666;font-size:14px;padding:10px;width:97%;*width:95%;}.formbox input[type="radio"], .formbox input[type="checkbox"], .formbox input[type="select"]{margin:0 0 0 10px;}.formbox.thin input[type="text"]{width:80.5%;}.formbox select{border:1px solid #e5e5e5;-webkit-border-radius:11px;-khtml-border-radius:11px;-moz-border-radius:11px;-o-border-radius:11px;border-radius:11px;font-size:14px;padding:10px;width:100%;}.search_box input#answers{display:inline-block;float:none;height:auto;line-height:normal;margin:0;}#wrapper input#submit_search{margin-bottom:0 !important;}.formbox{margin:0 0 25px 0;}.formbox .formbox{margin:0 0 15px 0;padding:25px 0 0 0;}#elastic_responses_intro #pleasetype{margin:0;padding:10px 20px;}#elastic_responses_intro #results_shown{margin:0;padding:20px;}#elastic_responses{background-color:#f6f6f6;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;box-shadow:0 0 2px 2px #ddd;font-size:13px;line-height:24px;margin:-27px 20px 20px;padding:0;}#suggestions{font-size:13px;line-height:24px;padding:0;}#content #elastic_responses p.prelude{margin:0 0 20px;padding:20px 20px 0;}#suggestions ul, #elastic_responses ul{margin:0 0 12px 0;}#suggestions .elastic_results, #suggestions .static_results, #elastic_responses .elastic_results, #elastic_responses .static_results{margin:0;}#suggestions li, #elastic_responses li{margin:0 20px 0 35px;padding:0;}#suggestions li, #elastic_responses li{border-top:1px solid #e4e4e4;list-style:none;margin:0;padding:12px 20px;}#suggestions li:first-child, #elastic_responses li:first-child{border-top:none;}#suggestions h3, #elastic_responses h3{font-size:15px;line-height:24px;margin:0;padding:20px 0;}#suggestions li h3, #elastic_responses li h3{font-size:15px;font-weight:normal;line-height:24px;margin:0;padding:0;}#suggestions li p, #content #elastic_responses li p{color:#666;font-size:13px;line-height:24px;margin:0;padding:0;}#suggestions ul.support-page-sections{margin-top:-10px;}#suggestions ul.support-page-sections li{display:inline-block;padding:10px 10px 0 0;border:none;font-size:11px;}span.errormsg{display:block;margin:0 0 10px 10px;color:#d00;}.formbox.error{background:#fbeaf0;border:1px solid #fda9a4;-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;padding:20px;}.formbox.error .formbox.error{border:none;padding-left:0;padding-right:0;}.formbox.error input[type="text"], .formbox.error input[type="email"], .formbox.error input[type="url"], .formbox.error input[type="password"], .formbox.error textarea{border:1px solid #fda9a4;}span.close a{background:#eaf3fa;font-weight:bold;padding:2px 8px;color:#000 !important;text-decoration:none !important;border:0 !important;}span.close a:hover{background:#9fc4fa;}#wrapper .contact-support input[type="submit"]{float:right;margin:0 !important;}span.sugg_question{font-weight:bold;}span.sugg_answer{color:#666;font-size:13px;}div.wploader{position:relative;z-index:2000;}.formbox label[for="privacy-public"], .formbox label[for="privacy-private"]{font-size:13px;}#prompt_message{background-color:#ffffe0;margin:0;padding:20px;}#closedsupports{max-width:522px;}#content.narrow{width:600px !important;}.suggest_sidebar{width:350px;margin-top:45px;}#suggestions_content{}#suggestions_hint li{border:none;}#suggestions ul{margin:0 0 12px 0;}ul.refund li, li.refund_item{border:0 !important;}#suggestions div#wploader{margin-top:-20px;}.contact-page #supportsearch{display:none;}#account_type_div label.h{display:inline;}.results-unhelpful-button{font-size:1em !important;}