@import 'http://www.epa.gov/epafiles/s/epa-content.css';

/*	Controls the basic layout and colors/fonts for print. */
	
/* Date: 17 April 2008 */
/* Version: 3.1.1 */

body { background: #fff; font: 10pt/1.1 Verdana, sans-serif; color: #000; margin: 0; padding: 0; } 


/* =Misc -- Site-wide stuff
----------------------------------------------- */
	/* Hide this stuff. */
#skipnav, #skiptop, #skipbot, hr.skip, #areaname #banner,
#areaname p#tagline, #EPAsearch, #header p, body#aara #content #quickfinder b.cn, 
#content #sitewidea, #content #sitewideb, #content #sitewidec,
#content #areafooter, #content .pagetop,
#area-nav h3, #area-nav,
ul#globalfooter, #bookmarkList
{ position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; overflow: hidden; border: none; font-size: 0; }

/* Removes borders from all linked images */
a img { border-width: 0; }
a { color: #000; }


/* =Layout -- Positioning of major page blocks
----------------------------------------------- */
#header { position: static; margin: 0 0 30px 0; padding: 0; background: #fff; }

#content { margin: 40px 20px; }
body#aara #content { margin: 50px 20px 40px; }

#footer { margin: 0; }


/* =Header elements (top of page)
----------------------------------------------- */
#header div#logo { position: relative; left: 0; top: 0; width: 100px; padding: 0; margin: 0; }

	#header div#areaname p { position: relative; top: -130px; left: 0; width: 75%; margin: 40px 0 -100px 120px; background: none; overflow: visible; font-weight: normal; font-size: 1.4em; color: #a0a0a0; line-height: 1.3; text-align: left; }

	body#aara div#areaname, body#espanol div#areaname { margin: 0; }
	body#aara div#areaname p { margin: 40px 0 -60px 146px; }
	body#espanol div#areaname p { margin: 40px 0 -100px 120px; }

	/* =Breadcrumbs
	----------------------------------------------- */
	#header ul { margin: 0 0 0 120px; padding: 0; font-size: 0.85em; line-height: 1.2; color: #a0a0a0; list-style: none; letter-spacing: 0; }
	body#aara #header ul { margin: -60px 0 0 146px; }
		#header ul li {	margin: 0; padding: 0 0 0 14px; display: inline; background: url(http://www.epa.gov/epafiles/s/i/breadcrumbarrow.gif) no-repeat 0% 50%; }
			#header ul li a {	margin: 0; padding: 0; }
		#header ul li.first {	padding: 0; background-image: none; }


/* =Content -- The white space for web owners
----------------------------------------------- */
#content h1	{ font-size: 1.7em; margin: 0; border-bottom: 2px solid #000; }
#content h2 { font-size:  1.4em; }
#content h3 { font-size:  1.2em; }
#content h4 { font-size:  1.0em; }
#content h5 { font-size:  0.9em; }

#content .boxmulti, #content .boxnat,
#content .boxmulti h5, #content .boxnat h5 { background-image: none; }

#content ul, #content .boxmulti ul li, #content .boxalert ul li, #content .color1 ul li { list-style: disc; }

#content table { font-size: inherit; font-size: 100%; }


/* =Footer elements
----------------------------------------------- */
p#url, p#date { position: absolute; top: 0px; right: 40px; font-size: 0.85em; color: #a0a0a0; }
p#date { top: 15px; }

h2.printOnly { margin: 3px 0; padding: 0; font-size: 10pt; color: #aaa; }
ol.printOnly { margin-top: 0; padding-top: 0; }
ol.printOnly li { margin-top: 0; padding-top: 0; margin-left: 3px; padding-left: 0; font-size: 9pt; color: #bbb; }
		
/* This stuff shows on print preview on paper */
@media print {
/* Print As-Is link disappears. */
	#printAsIs { position: absolute; top: 0; left: 0; width: 0; height: 0; margin: 0; padding: 0; overflow: hidden; border: none; font-size: 0; }
}